<!-- Gallery -->
<div class="card eo-gallery">
  <div class="card-header">
    <a href="#" class="btn eo-btn-more float-right">
      <i class="material-icons">more_horiz</i>
    </a>                 
    <div class="eo-card-header-title">Last Photos</div>
  </div>
  <div class="card-body">
    <div class="eo-card-body-block">
      <ul class="list-inline list-unstyled">
        <li *ngFor="let photo of photos" class="list-inline-item eo-gallery-item mb-2 mb-sm-3 mb-md-3 mb-lg-2 mb-xl-4">
          <img class="img-fluid" src="{{photo.photoThumbUrl}}">
        </li>
      </ul>
    </div>             
  </div>               
</div>

<!-- Blog Posts -->
<div class="card eo-blog-posts">
  <div class="card-header">
    <a href="#" class="btn eo-btn-more float-right">
      <i class="material-icons">more_horiz</i>
    </a>                
    <div class="eo-card-header-title">Blog Posts</div>
  </div>
  <div class="card-body">
    <div *ngFor="let blog of blogs" class="eo-card-body-lg-block">
      <div class="eo-card-body-lg-title mb-2 mb-sm-2 mb-md-2 mb-lg-2 mb-xl-2">
        <a href="#">{{blog.title}}</a>
      </div>
      <p class="card-text">{{blog.text}}</p>
      <div class="eo-card-body-time">{{blog.time}}</div>
    </div>
  </div>
</div>              

<!-- Friends -->
<div class="card eo-friends">
  <div class="card-header">
    <a href="#" class="btn eo-btn-more float-right">
      <i class="material-icons">more_horiz</i>
    </a>                 
    <div class="eo-card-header-title">Friends <span>(86)</span></div>
  </div>
  <div class="card-body">
    <div class="eo-card-body-block">
      <ul class="list-inline list-unstyled">
        <li *ngFor="let user of users" class="list-inline-item eo-friend-item">
          <a href="#" *ngIf="user.id >1">
            <img class="img-fluid rounded-circle mb-2" src="{{user.imageThumbUrl}}">
          </a>  
        </li>

        <li class="list-inline-item eo-friend-item">
          <a href="#">  
            <img class="img-fluid rounded-circle mb-0" src="http://via.placeholder.com/150x150/ff5e3a/ffffff?text=74+">
          </a>
        </li>                    
      </ul>
    </div>                  
  </div>               
</div>

<!-- Favourite Pages -->
<div class="card eo-favourite-pages">
  <div class="card-header">
    <a href="#" class="btn eo-btn-more float-right">
      <i class="material-icons">more_horiz</i>
    </a>                 
    <div class="eo-card-header-title">Favourite Pages</div>
  </div>
  <div class="card-body">
    <div class="eo-card-body-list-block">
      <ul class="list-group list-group-flush eo-card-body-list">
        <li *ngFor="let page of pages" class="list-group-item eo-card-body-list-item">
          <div class="media">
            <img class="align-self-center img-fluid rounded-circle mr-3" src="{{page.pageImgUrl}}" alt="Generic placeholder image">
            <div class="media-body align-self-center mr-auto">
              <div class="eo-card-body-title">{{page.pageTitle}}</div>
              <div class="eo-card-body-theme">{{page.pageType}}</div>
            </div>
            <a href="#" class="btn eo-btn-star align-self-center">
              <i class="material-icons">star_border</i>
            </a>                           
          </div>                
        </li>                                                                                        
      </ul>
    </div>             
  </div>               
</div>

<!-- James's Poll -->
<div class="card eo-poll">
  <div class="card-header">
    <a href="#" class="btn eo-btn-more float-right">
      <i class="material-icons">more_horiz</i>
    </a>                 
    <div class="eo-card-header-title">James's Poll</div>
  </div>
  <div class="card-body">
    <div class="eo-card-body-block">
      <p>If you had to choose, which actor do you prefer to be the next Darkman?</p>
    </div>
    <div class="eo-card-body-block">
      <div class="custom-control custom-radio">
        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
        <label class="eo-poll-label custom-control-label" for="customRadio1">Thomas Bale</label>
        <span class="eo-poll-value float-right">62%</span>
      </div>
      <div class="eo-poll-progress progress mt-2 mt-sm-2 mt-md-2 mt-lg-2 mt-xl-2">
        <div class="eo-poll-progress-bar progress-bar" role="progressbar" style="width: 62%" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="eo-poll-who-voted mt-3 mt-sm-3 mt-md-3 mt-lg-3 mt-xl-3">12 friends voted for this</div>
      <div class="eo-poll-friends-list mt-2 mt-sm-2 mt-md-2 mt-lg-2 mt-xl-2">
        <ul class="list-inline list-unstyled">
          <li *ngFor="let user of users" class="list-inline-item eo-poll-friend">
            <a href="#"><img class="img-fluid rounded-circle" src="{{user.imageThumbUrl}}"></a>
          </li>
          <li class="list-inline-item eo-poll-friend">
            <a href="#"><img class="img-fluid rounded-circle" src="http://via.placeholder.com/25x25/ff5e3a/ffffff/?text=3+"></a>
          </li>                                                                         
        </ul>                    
      </div>
    </div>
    <div class="eo-card-body-block">
      <div class="custom-control custom-radio">
        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
        <label class="eo-poll-label custom-control-label" for="customRadio2">Ben Robertson</label>
        <span class="eo-poll-value float-right">27%</span>
      </div> 
      <div class="eo-poll-progress progress mt-2 mt-sm-2 mt-md-2 mt-lg-2 mt-xl-2">
        <div class="eo-poll-progress-bar progress-bar" role="progressbar" style="width: 27%" aria-valuenow="27" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="eo-poll-who-voted mt-3 mt-sm-3 mt-md-3 mt-lg-3 mt-xl-3">7 friends voted for this</div>
      <div class="eo-poll-friends-list mt-2 mt-sm-2 mt-md-2 mt-lg-2 mt-xl-2">
        <ul class="list-inline list-unstyled">
          <li *ngFor="let user of users" class="list-inline-item eo-poll-friend">
            <a href="#"><img class="img-fluid rounded-circle" src="{{user.imageThumbUrl}}"></a>
          </li>
          <li class="list-inline-item eo-poll-friend">
            <a href="#"><img class="img-fluid rounded-circle" src="http://via.placeholder.com/25x25/ff5e3a/ffffff/?text=3+"></a>
          </li>                                                                        
        </ul>                    
      </div>                         
    </div>
    <div class="eo-card-body-block">
      <div class="custom-control custom-radio">
        <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
        <label class="eo-poll-label custom-control-label" for="customRadio3">Michael Streiton</label>
        <span class="eo-poll-value float-right">11%</span>
      </div>
      <div class="eo-poll-progress progress mt-2 mt-sm-2 mt-md-2 mt-lg-2 mt-xl-2">
        <div class="eo-poll-progress-bar progress-bar" role="progressbar" style="width: 27%" aria-valuenow="27" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="eo-poll-who-voted mt-3 mt-sm-3 mt-md-3 mt-lg-3 mt-xl-3">2 people voted for this</div>
      <div class="eo-poll-friends-list mt-2 mt-sm-2 mt-md-2 mt-lg-2 mt-xl-2">
        <ul class="list-inline list-unstyled">
          <li *ngFor="let user of users" class="list-inline-item eo-poll-friend">
            <a href="#"><img class="img-fluid rounded-circle" src="{{user.imageThumbUrl}}"></a>
          </li>
          <li class="list-inline-item eo-poll-friend">
            <a href="#"><img class="img-fluid rounded-circle" src="http://via.placeholder.com/25x25/ff5e3a/ffffff/?text=3+"></a>
          </li>                                                                          
        </ul>                    
      </div>                    
    </div>                                                         
  </div>               
</div>