/* Card component */
.card {
-webkit-border-radius: 0.25em;
-moz-border-radius: 0.25em;
-ms-border-radius: 0.25em;
-o-border-radius: 0.25em;
border-radius: 0.25em;
margin-bottom: 1em; }
.card .card-img-top {
-webkit-border-radius: 0;
-moz-border-radius: 0;
-ms-border-radius: 0;
-o-border-radius: 0;
border-radius: 0; }
.card .card-header {
padding: 1.25rem 1.25rem;
background-color: #fff; }
.card .card-header .eo-card-header-title {
color: #495057;
font-family: "Roboto", sans-serif;
font-size: 0.875rem;
line-height: 2;
font-weight: 700;
text-transform: none; }
.card .card-header .eo-btn-more {
color: #adb5bd;
padding: 0 0.5em;
background-color: transparent; }
.card .card-body {
padding: 1.25rem 0; }
.card .card-body .eo-card-body-block {
padding: 0 1.25rem; }
.card .card-body .eo-card-body-block + .eo-card-body-block {
margin-top: 1em; }
.card .card-body .eo-card-body-lg-block {
padding: 0 1.25rem; }
.card .card-body .eo-card-body-lg-block .eo-card-body-lg-title a {
color: #495057; }
.card .card-body .eo-card-body-lg-block .eo-card-body-lg-title a:hover {
color: #ff5e3a; }
.card .card-body .eo-card-body-lg-block .eo-card-body-username a {
color: #868e96; }
.card .card-body .eo-card-body-lg-block .eo-card-body-username a:hover {
color: #868e96; }
.card .card-body .eo-card-body-lg-block + .eo-card-body-lg-block {
margin-top: 1em;
border-top: 1px solid #dee2e6; }
.card .card-body .eo-card-body-lg-block + .eo-card-body-lg-block .eo-card-body-lg-title,
.card .card-body .eo-card-body-lg-block + .eo-card-body-lg-block .media {
padding-top: 1.25rem; }
.card .card-body .eo-card-body-list-block .eo-card-body-list .eo-card-body-list-item:first-child {
padding-top: 0; }
.card .card-body .eo-card-body-list-block .eo-card-body-list .eo-card-body-list-item:last-child {
padding-bottom: 0; }
.card .card-body .eo-card-body-lg-title {
color: #495057;
font-family: "Roboto", sans-serif;
font-size: 1.5rem;
line-height: 1.3;
font-weight: 300;
text-transform: none; }
.card .card-body .eo-card-body-title {
color: #495057;
font-family: "Roboto", sans-serif;
font-size: 0.875rem;
line-height: 1.3;
font-weight: 500;
text-transform: none; }
.card .card-body .eo-card-body-subtitle {
color: #495057;
font-family: "Roboto", sans-serif;
font-size: 0.85rem;
line-height: 1.3;
font-weight: 500;
text-transform: none; }
.card .card-body .eo-card-body-username {
color: #adb5bd;
font-family: "Roboto", sans-serif;
font-size: 0.7rem;
line-height: 1.3;
font-weight: 400;
text-transform: none; }
.card .card-body .eo-card-body-theme {
color: #adb5bd;
font-family: "Roboto", sans-serif;
font-size: 0.7rem;
line-height: 1.3;
font-weight: 400;
text-transform: none; }
.card .card-body .eo-card-body-time {
color: #868e96;
font-family: "Roboto", sans-serif;
font-size: 0.75rem;
line-height: 1.3;
font-weight: 400;
text-transform: none; }
.card .card-body p {
color: #868e96;
font-family: "Roboto", sans-serif;
font-size: 0.9rem;
line-height: 1.3;
font-weight: 400;
text-transform: none; }
@media (min-width: 576px) {
.card .card-body p {
font-size: 0.812rem; } }
@media (min-width: 768px) {
.card .card-body p {
font-size: 0.812rem; } }
@media (min-width: 992px) {
.card .card-body p {
font-size: 0.812rem; } }
@media (min-width: 1200px) {
.card .card-body p {
font-size: 0.812rem; } }

/* Btn more */
.card .card-header .eo-btn-more {
color: #adb5bd;
padding: 0 0.5em;
background-color: transparent; }
.card.eo-post .card-header .eo-dropdown .eo-btn-more:after {
display: none; }

/* Gallery */
.eo-gallery .eo-gallery-item {
width: 30%;
margin-right: .35rem; }
@media (min-width: 576px) {
.eo-gallery .eo-gallery-item {
margin-right: 0.8rem; } }
@media (min-width: 768px) {
.eo-gallery .eo-gallery-item {
margin-right: 1.15rem; } }
@media (min-width: 992px) {
.eo-gallery .eo-gallery-item {
margin-right: 0.15rem; } }
@media (min-width: 1200px) {
.eo-gallery .eo-gallery-item {
margin-right: .55rem; } }

.eo-gallery .eo-gallery-item:nth-child(3n) {
margin-right: 0;  
}
.eo-gallery .eo-gallery-item:nth-child(7),
.eo-gallery .eo-gallery-item:nth-child(8),
.eo-gallery .eo-gallery-item:nth-child(9) {
margin-bottom: 0 !important;  
}

.eo-gallery .eo-gallery-item img {
-webkit-border-radius: 0.25em;
-moz-border-radius: 0.25em;
-ms-border-radius: 0.25em;
-o-border-radius: 0.25em;
border-radius: 0.25em;
}  

/* Blog posts */

/* Friends */
.eo-friends .eo-friend-item {
position: relative;
width: 17%;
margin-right: .2rem; }
@media (min-width: 576px) {
.eo-friends .eo-friend-item {
margin-right: 0.65rem; } }
@media (min-width: 768px) {
.eo-friends .eo-friend-item {
margin-right: 1rem; } }
@media (min-width: 992px) {
.eo-friends .eo-friend-item {
margin-right: .1rem; } }
@media (min-width: 1200px) {
.eo-friends .eo-friend-item {
margin-right: .5rem; } }

.eo-friends .eo-friend-item:first-child { 
display: none;
}

.eo-friends .eo-friend-item:nth-child(5n+1) {
margin-right: 0;  
}
.eo-friends .eo-friend-item:nth-child(6),
.eo-friends .eo-friend-item:nth-child(7),
.eo-friends .eo-friend-item:nth-child(8),
.eo-friends .eo-friend-item:nth-child(9),
.eo-friends .eo-friend-item:nth-child(10) {
margin-bottom: 0 !important;  
}



/* Favourite Pages */
.eo-favourite-pages .eo-btn-star {
color: #000;
padding: 0 0 0 0.5em;
background-color: transparent; }
.eo-favourite-pages .eo-btn-star:hover {
color: #ff5e3a; }

/* James's Poll */
.eo-poll .eo-poll-label {
color: #495057;
font-family: "Roboto", sans-serif;
font-size: 0.75rem;
line-height: 1.3;
font-weight: 400;
text-transform: none; }
.eo-poll .custom-radio .custom-control-input:checked ~ .custom-control-label::before {
background-color: #ff5e3a; }
.eo-poll .custom-control-input:checked ~ .custom-control-label::before {
background-color: #ff5e3a; }
.eo-poll .eo-poll-value {
color: #495057;
font-family: "Roboto", sans-serif;
font-size: 0.75rem;
line-height: 2;
font-weight: 400;
text-transform: none; }
.eo-poll .eo-poll-progress {
height: 0.5rem; }
.eo-poll .eo-poll-progress .eo-poll-progress-bar {
background-color: #ff5e3a; }
.eo-poll .eo-poll-who-voted {
color: #868e96;
font-family: "Roboto", sans-serif;
font-size: 0.75rem;
line-height: 1.3;
font-weight: 400;
text-transform: none; }
.eo-poll .eo-poll-friends-list .eo-poll-friend {
margin-right: -1rem; }
.eo-poll .eo-poll-friends-list .eo-poll-friend img {
border: 2px solid #fff;
width: 25px; }