<!-- Profile intro -->
<div class="card eo-profile-intro">
  <div class="card-header">
    <a href="#" class="btn eo-btn-more float-right">
      <i class="material-icons">more_horiz</i>
    </a>                
    <div class="eo-card-header-title">Profile Intro</div>
  </div>
  <div class="card-body">
    <div class="eo-card-body-block">
      <div class="eo-card-body-subtitle">About Me:</div>
      <p class="card-text">Hi, I’m James, I’m 36 and I work as a Digital Designer for the “Daydreams” Agency in Pier 56.</p>
    </div>
    <div class="eo-card-body-block">
      <div class="eo-card-body-subtitle">Favourite TV Shows:</div>
      <p class="card-text">Breaking Good, RedDevil, People of Interest, The Running Dead, Found, American Guy.</p>
    </div> 
    <div class="eo-card-body-block">
      <div class="eo-card-body-subtitle">Favourite Music Bands / Artists:</div>
      <p class="card-text">Iron Maid, DC/AC, Megablow, The Ill, Kung Fighters, System of a Revenge.</p>
    </div>
    <div class="eo-card-body-block mt-4 mt-sm-4 mt-md-4 mt-lg-4 mt-xl-4">
      <div class="eo-card-body-title mb-3 mb-sm-3 mb-md-3 mb-lg-3 mb-xl-3">Other Social Networks:</div>
      <button type="button" class="btn btn-eo-fb btn-block mb-3 mb-sm-3 mb-md-3 mb-lg-3 mb-xl-3">
        <i class="fa fa-facebook pr-1 pr-sm-1 pr-md-2 pr-lg-2 pr-xl-2"></i>
        Facebook
      </button>
      <button type="button" class="btn btn-eo-tw btn-block mb-3 mb-sm-3 mb-md-3 mb-lg-3 mb-xl-3">
        <i class="fa fa-twitter pr-1 pr-sm-1 pr-md-2 pr-lg-2 pr-xl-2"></i>
        Twitter
      </button>
      <button type="button" class="btn btn-eo-dr btn-block mb-3 mb-sm-3 mb-md-3 mb-lg-3 mb-xl-3">
        <i class="fa fa-dribbble pr-1 pr-sm-1 pr-md-2 pr-lg-2 pr-xl-2"></i>
        Dribbble
      </button>                                     
    </div>                                                         
  </div>
</div>

<!-- James’s Badges -->
<div class="card eo-badges">
  <div class="card-header">
    <a href="#" class="btn eo-btn-more float-right">
      <i class="material-icons">more_horiz</i>
    </a>                 
    <div class="eo-card-header-title">James’s Badges</div>
  </div>
  <div class="card-body">
    <div class="eo-card-body-block">
      <ul class="list-inline list-unstyled"> 
        <li *ngFor="let badge of badges" class="list-inline-item eo-badge-item mb-2">
          <img class="img-fluid rounded-circle" src="{{badge.badgeThumbUrl}}">
          <span class="badge eo-badge eo-badge-primary" *ngIf="badge.badgeQuantity >0">{{badge.badgeQuantity}}</span>
        </li>                  
      </ul>
    </div>                       
  </div>               
</div>





<!-- My Spotify Playlist -->
<div class="card eo-spotify-playlist">
  <div class="card-header">
    <a href="#" class="btn eo-btn-more float-right">
      <i class="material-icons">more_horiz</i>
    </a>                 
    <div class="eo-card-header-title">My Spotify Playlist</div>
  </div>
  <div class="card-body">
    <div class="eo-card-body-list-block">
      <ul class="list-group list-group-flush eo-card-body-list">
        <li *ngFor="let playlist of playlists" class="list-group-item eo-card-body-list-item">
          <a href="#">
            <div class="media">
              <div class="eo-spotify-playlist-no align-self-center mr-1">{{playlist.id}}</div>
              <img class="eo-spotify-playlist-img align-self-center img-fluid mr-1" src="{{playlist.imageUrl}}" alt="Generic placeholder image">
              <div class="media-body align-self-center mr-auto">
                <div class="eo-card-body-subtitle">{{playlist.title}}</div>
                <div class="eo-card-body-theme">{{playlist.artist}}</div>
              </div>
              <div class="eo-card-body-time align-self-center">{{playlist.duration}}</div>
            </div>
          </a>                
        </li> 
      </ul>
    </div>             
  </div>               
</div>

<!-- Twitter Feed -->
<div class="card eo-twitter-feed">
  <div class="card-header">
    <a href="#" class="btn eo-btn-more float-right">
      <i class="material-icons">more_horiz</i>
    </a>                
    <div class="eo-card-header-title">Twitter Feed</div>
  </div>
  <div class="card-body">
    <div *ngFor="let tweet of tweets" class="eo-card-body-lg-block">
      <div class="media">
        <img class="align-self-start mr-3" src="{{tweet.twitterThumbUrl}}" alt="Twitter avatar image">
        <div class="media-body">
          <div class="eo-card-body-title">{{tweet.twitterName}}</div>
          <div class="eo-card-body-username">{{tweet.twitterNick}}</div>
        </div>
      </div>
      <p class="mt-3 mt-sm-3 mt-md-3 mt-lg-3 mt-xl-3">{{tweet.tweet}} <a href="#">{{tweet.link}}</a></p>
      <div class="eo-card-body-time mt-3 mt-sm-3 mt-md-3 mt-lg-3 mt-xl-3">{{tweet.tweetTime}}</div>                                      
    </div>                  
  </div>
</div>

<!-- Videos -->
<div class="card eo-videos">
  <div class="card-header">
    <a href="#" class="btn eo-btn-more float-right">
      <i class="material-icons">more_horiz</i>
    </a>                 
    <div class="eo-card-header-title">Last Videos</div>
  </div>
  <div class="card-body">
    <div *ngFor="let video of videos" class="eo-card-body-block">
      <div class="eo-video-item">
        <a href="{{video.videoVideoUrl}}" class="eo-play-video eo-play-video-icon">
          <i class="material-icons">play_arrow</i>
        </a>
        <img class="img-fluid" src="{{video.videoImageUrl}}" alt="video">
        <div class="eo-video-content">
          <div class="eo-video-title">{{video.videoTitleAndArtist}}</div>
          <time class="eo-video-time-published">{{video.videoDuration}}</time>
        </div>
        <div class="eo-overlay"></div>     
      </div>
    </div>                                   
  </div>               
</div> 