/* Card component */
.card {
-webkit-border-radius: 0.25em;
-moz-border-radius: 0.25em;
-ms-border-radius: 0.25em;
-o-border-radius: 0.25em;
border-radius: 0.25em;
margin-bottom: 1em; }
.card .card-img-top {
-webkit-border-radius: 0;
-moz-border-radius: 0;
-ms-border-radius: 0;
-o-border-radius: 0;
border-radius: 0; }
.card .card-header {
padding: 1.25rem 1.25rem;
background-color: #fff; }
.card .card-header .eo-card-header-title {
color: #495057;
font-family: "Roboto", sans-serif;
font-size: 0.875rem;
line-height: 2;
font-weight: 700;
text-transform: none; }
.card .card-header .eo-btn-more {
color: #adb5bd;
padding: 0 0.5em;
background-color: transparent; }
.card .card-body {
padding: 1.25rem 0; }
.card .card-body .eo-card-body-block {
padding: 0 1.25rem; }
.card .card-body .eo-card-body-block + .eo-card-body-block {
margin-top: 1em; }
.card .card-body .eo-card-body-lg-block {
padding: 0 1.25rem; }
.card .card-body .eo-card-body-lg-block .eo-card-body-lg-title a {
color: #495057; }
.card .card-body .eo-card-body-lg-block .eo-card-body-lg-title a:hover {
color: #ff5e3a; }
.card .card-body .eo-card-body-lg-block .eo-card-body-username a {
color: #868e96; }
.card .card-body .eo-card-body-lg-block .eo-card-body-username a:hover {
color: #868e96; }
.card .card-body .eo-card-body-lg-block + .eo-card-body-lg-block {
margin-top: 1em;
border-top: 1px solid #dee2e6; }
.card .card-body .eo-card-body-lg-block + .eo-card-body-lg-block .eo-card-body-lg-title,
.card .card-body .eo-card-body-lg-block + .eo-card-body-lg-block .media {
padding-top: 1.25rem; }
.card .card-body .eo-card-body-list-block .eo-card-body-list .eo-card-body-list-item:first-child {
padding-top: 0; }
.card .card-body .eo-card-body-list-block .eo-card-body-list .eo-card-body-list-item:last-child {
padding-bottom: 0; }
.card .card-body .eo-card-body-lg-title {
color: #495057;
font-family: "Roboto", sans-serif;
font-size: 1.5rem;
line-height: 1.3;
font-weight: 300;
text-transform: none; }
.card .card-body .eo-card-body-title {
color: #495057;
font-family: "Roboto", sans-serif;
font-size: 0.875rem;
line-height: 1.3;
font-weight: 500;
text-transform: none; }
.card .card-body .eo-card-body-subtitle {
color: #495057;
font-family: "Roboto", sans-serif;
font-size: 0.85rem;
line-height: 1.3;
font-weight: 500;
text-transform: none; }
.card .card-body .eo-card-body-username {
color: #adb5bd;
font-family: "Roboto", sans-serif;
font-size: 0.7rem;
line-height: 1.3;
font-weight: 400;
text-transform: none; }
.card .card-body .eo-card-body-theme {
color: #adb5bd;
font-family: "Roboto", sans-serif;
font-size: 0.7rem;
line-height: 1.3;
font-weight: 400;
text-transform: none; }
.card .card-body .eo-card-body-time {
color: #868e96;
font-family: "Roboto", sans-serif;
font-size: 0.75rem;
line-height: 1.3;
font-weight: 400;
text-transform: none; }
.card .card-body p {
color: #868e96;
font-family: "Roboto", sans-serif;
font-size: 0.9rem;
line-height: 1.3;
font-weight: 400;
text-transform: none; }
@media (min-width: 576px) {
.card .card-body p {
font-size: 0.812rem; } }
@media (min-width: 768px) {
.card .card-body p {
font-size: 0.812rem; } }
@media (min-width: 992px) {
.card .card-body p {
font-size: 0.812rem; } }
@media (min-width: 1200px) {
.card .card-body p {
font-size: 0.812rem; } }

/* Btn more */
.card .card-header .eo-btn-more {
color: #adb5bd;
padding: 0 0.5em;
background-color: transparent; }
.card.eo-post .card-header .eo-dropdown .eo-btn-more:after {
display: none; }

/* Badges */
.eo-badges .eo-badge-item {
position: relative;
width: 21%;
margin-right: .3rem; }
@media (min-width: 576px) {
.eo-badges .eo-badge-item {
margin-right: 0.95rem; } }
@media (min-width: 768px) {
.eo-badges .eo-badge-item {
margin-right: 1.3rem; } }
@media (min-width: 992px) {
.eo-badges .eo-badge-item {
margin-right: .2rem; } }
@media (min-width: 1200px) {
.eo-badges .eo-badge-item {
margin-right: .7rem; } }

.eo-badges .eo-badge-item:nth-child(4n) {
margin-right: 0;  
}
.eo-badges .eo-badge-item:nth-child(9),
.eo-badges .eo-badge-item:nth-child(10) {
margin-bottom: 0 !important;  
}



.eo-badges .eo-badge-item .eo-badge {
position: absolute;
top: 0;
right: 0;
text-align: center;
padding-right: 0.7em;
padding-left: 0.7em;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%;
color: #fff;
font-family: "Roboto", sans-serif;
font-size: 0.6rem;
line-height: 1.5;
font-weight: 400;
text-transform: none;
width: 15px;
`height: 15px; }
@media (min-width: 576px) {
.eo-badges .eo-badge-item .eo-badge {
font-size: 0.75rem;
padding-right: 0.75em;
padding-left: 0.75em; } }
@media (min-width: 768px) {
.eo-badges .eo-badge-item .eo-badge {
font-size: 0.75rem;
padding-right: 0.75em;
padding-left: 0.75em; } }
@media (min-width: 992px) {
.eo-badges .eo-badge-item .eo-badge {
font-size: 0.5rem;
padding-right: 0.75em;
padding-left: 0.75em; } }
@media (min-width: 1200px) {
.eo-badges .eo-badge-item .eo-badge {
padding-right: .5em;
padding-left: .5em; } }
.eo-badges .eo-badge-item .eo-badge.eo-badge-primary {
background-color: #ff5e3a; }
.eo-badges .eo-badge-item .eo-badge.eo-badge-secondary {
background-color: #38a9ff; }
.eo-badges .eo-badge-item .eo-badge.eo-badge-tertiary {
background-color: #7c5ac2; }
.eo-badges .eo-badge-item .eo-badge.eo-badge-quaternary {
background-color: #08ddc1; }

/* My Spotify Playlist */
.eo-spotify-playlist .eo-card-body-list-item {
padding-left: 1em;
padding-right: 1em; }
.eo-spotify-playlist .eo-card-body-list-item .eo-spotify-playlist-no {
color: #868e96;
font-family: "Roboto", sans-serif;
font-size: 0.75rem;
line-height: 1.3;
font-weight: 400;
text-transform: none; }
.eo-spotify-playlist .eo-card-body-list-item .eo-spotify-playlist-img {
-webkit-border-radius: 0.25em;
-moz-border-radius: 0.25em;
-ms-border-radius: 0.25em;
-o-border-radius: 0.25em;
border-radius: 0.25em; }

/* Twitter Feed */
.eo-twitter-feed p a {
color: #38a9ff; }
.eo-twitter-feed p a:hover {
color: #38a9ff; }

/* Videos */
.eo-videos .eo-video-item {
position: relative;
-webkit-border-radius: 0.25em;
-moz-border-radius: 0.25em;
-ms-border-radius: 0.25em;
-o-border-radius: 0.25em;
border-radius: 0.25em;
overflow: hidden;
display: inline-block; }
.eo-videos .eo-video-item .eo-play-video-icon {
background-color: rgba(255, 94, 58, 0.7);
z-index: 5;
text-align: center;
outline: 0; }
.eo-videos .eo-video-item .eo-play-video-icon i {
color: #fff; }
.eo-videos .eo-video-item .eo-play-video {
width: 2em;
height: 2em;
line-height: 2;
border: 4px solid #fff;
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
-ms-border-radius: 100%;
-o-border-radius: 100%;
border-radius: 100%;
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
transition: all .3s ease; }
.eo-videos .eo-video-item .eo-video-content {
opacity: 0;
position: absolute;
transition: all .3s ease;
bottom: 1em;
left: 0.5em;
color: #fff;
z-index: 5; }
.eo-videos .eo-video-item .eo-video-content .eo-video-title {
color: #fff;
font-family: "Roboto", sans-serif;
font-size: 0.8rem;
line-height: 1;
font-weight: 400;
text-transform: none; }
.eo-videos .eo-video-item .eo-video-content .eo-video-time-published {
color: #fff;
font-family: "Roboto", sans-serif;
font-size: 0.65rem;
line-height: 1;
font-weight: 400;
text-transform: none; }
.eo-videos .eo-video-item .eo-overlay {
position: absolute;
background: rgba(43, 45, 59, 0.2);
transition: all .3s ease;
opacity: 0;
top: 0;
left: 0;
right: 0;
bottom: 0; }
.eo-videos .eo-video-item:hover .eo-play-video {
margin-top: -1em; }
.eo-videos .eo-video-item:hover .eo-video-content {
opacity: 1;
bottom: 0.75em; }
.eo-videos .eo-video-item:hover .eo-overlay {
opacity: 1; }