<div class="eo-fixed-sidebar-left">
  <a routerLink="/" class="eo-fixed-sidebar-left-logo d-block">
    <img class="" src="assets/img/olympus-logo.png" alt="Olympus logo">
  </a>
  <div class="eo-fixed-sidebar-icon-list">
    <ul class="list-unstyled d-flex flex-column justify-content-center align-items-center">
      <li *ngFor="let icon of icons">
        <a href="#" class="eo-fixed-sidebar-icon">
          <i class="material-icons">{{icon.icon_name}}</i>
        </a>
      </li>
    </ul>
  </div>           
</div>