.eo-fixed-sidebar-left {
display: none; }
@media (min-width: 1200px) {
.eo-fixed-sidebar-left {
position: fixed;
top: 0;
z-index: 9999;
width: 72px;
min-height: 1000vh;
box-shadow: 0 0 34px 0 rgba(63, 66, 87, 0.1);
height: 100%;
background-color: #fff; } }
@media (min-width: 1336px) {
.eo-fixed-sidebar-left {
display: block; } }
.eo-fixed-sidebar-left .eo-fixed-sidebar-left-logo {
background-color: #ff5e3a;
height: 72px;
padding: 1.1em; }
.eo-fixed-sidebar-left .eo-fixed-sidebar-icon-list .eo-fixed-sidebar-icon i {
font-size: 2em;
color: #ced4da;
padding: 0.25em 0.5em; }
.eo-fixed-sidebar-left .eo-fixed-sidebar-icon-list .eo-fixed-sidebar-icon:hover i {
color: #ff5e3a; 
}