/* Btn more */
.card .card-header .eo-btn-more {
color: #adb5bd;
padding: 0 0.5em;
background-color: transparent; }
.eo-post .card .card-header .eo-dropdown .eo-btn-more:after {
display: none; }

/* Card Post component */
.eo-post .card {
position: relative;
border-radius: 0.25em;
margin-bottom: 0em;
padding: 1.25rem 1.25rem; }
.eo-post .card.eo-commented-post {
border-radius: 0.25em 0.25em 0 0; }
.eo-post .card .card-header {
padding: 0rem;
background-color: #fff;
border-bottom: none; }
.eo-post .card .card-header .eo-post-header-title a {
color: #495057;
font-family: "Roboto", sans-serif;
font-size: 0.875rem;
line-height: 1.3;
font-weight: 500;
text-transform: none; }
.eo-post .card .card-header .eo-post-header-title .eo-post-link {
color: #adb5bd;
font-family: "Roboto", sans-serif;
font-size: 0.85rem;
line-height: 1.3;
font-weight: 400;
text-transform: none; }
.eo-post .card .card-header .eo-post-header-title .eo-post-link a {
margin-left: 0.25em;
color: #ff5e3a;
font-family: "Roboto", sans-serif;
font-size: 0.85rem;
line-height: 1.3;
font-weight: 500;
text-transform: none; }
.eo-post .card .card-header .eo-post-header-subtitle {
color: #adb5bd;
font-family: "Roboto", sans-serif;
font-size: 0.85rem;
line-height: 1.3;
font-weight: 400;
text-transform: none; }
.eo-post .card .card-header .eo-dropdown .eo-btn-more:after {
display: none; }
.eo-post .card .card-header .eo-dropdown .dropdown-menu .dropdown-item {
color: #adb5bd;
font-family: "Roboto", sans-serif;
font-size: 0.85rem;
line-height: 1.3;
font-weight: 500;
text-transform: none; }
.eo-post .card .card-header .eo-dropdown .dropdown-menu .dropdown-item:hover {
color: #ff5e3a;
background-color: transparent; }
.eo-post .card .card-body {
padding: 1.25rem 0rem; }
.eo-post .card .card-body .eo-post-text {
color: #868e96;
font-family: "Roboto", sans-serif;
font-size: 0.85rem;
line-height: 1.3;
font-weight: 400;
text-transform: none; }
@media (min-width: 576px) {
.eo-post .card .card-body .eo-post-text {
font-size: 0.85rem; } }
@media (min-width: 768px) {
.eo-post .card .card-body .eo-post-text {
font-size: 0.9rem; } }
@media (min-width: 992px) {
.eo-post .card .card-body .eo-post-text {
font-size: 0.9rem; } }
@media (min-width: 1200px) {
.eo-post .card .card-body .eo-post-text {
font-size: 0.9rem; } }
.eo-post .card .card-body .eo-post-video-link-box {
border: 1px solid #ced4da;
-webkit-border-radius: 0.25em;
-moz-border-radius: 0.25em;
-ms-border-radius: 0.25em;
-o-border-radius: 0.25em;
border-radius: 0.25em; }
.eo-post .card .card-body .eo-post-video-link-box .eo-post-video-link-img {
position: relative; }
.eo-post .card .card-body .eo-post-video-link-box .eo-post-video-link-img .eo-post-video-play-icon {
width: 3em;
height: 3em;
line-height: 2;
border: 4px solid #fff;
border-radius: 100%;
position: absolute;
top: 50%;
left: 50%;
background-color: rgba(255, 94, 58, 0.7);
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
transition: all .3s ease; }
.eo-post .card .card-body .eo-post-video-link-box .eo-post-video-link-img .eo-post-video-play-icon i {
color: #fff;
z-index: 5;
text-align: center;
outline: 0;
display: block;
line-height: 1.25;
font-size: 2em; }
.eo-post .card .card-body .eo-post-video-link-box .eo-post-video-link-title {
color: #495057;
font-family: "Roboto", sans-serif;
font-size: 1.5rem;
line-height: 1.3;
font-weight: 300;
text-transform: none; }
.eo-post .card .card-body .eo-post-video-link-box .eo-post-video-link-title a {
color: #495057;
font-family: "Roboto", sans-serif;
font-size: 1.5rem;
line-height: 1.3;
font-weight: 300;
text-transform: none; }
.eo-post .card .card-body .eo-post-video-link-box .eo-post-video-link-title a:hover {
color: #ff5e3a; }
.eo-post .card .card-body .eo-post-video-link-box .eo-post-video-link {
color: #adb5bd;
font-family: "Roboto", sans-serif;
font-size: 0.65rem;
line-height: 1.3;
font-weight: 400;
text-transform: uppercase; }
.eo-post .card .card-body .eo-post-video-link-box .eo-post-video-link:hover {
color: #ff5e3a; }
.eo-post .card .card-body .eo-post-photo-link-box {
border: none;
padding: 0;
border-radius: 0.25em 0.25em 0 0; }
.eo-post .card .card-body .eo-post-photo-link-box .eo-post-photo {
border: 1px solid #ced4da;
border-radius: 0.25em 0.25em 0 0; }
.eo-post .card .card-body .eo-post-photo-link-box .eo-original-post {
position: relative;
-webkit-border-radius: 0;
-moz-border-radius: 0;
-ms-border-radius: 0;
-o-border-radius: 0;
border-radius: 0;
margin-bottom: 0em;
padding: 0px 1.25rem 0px 0rem;
background-color: #fff;
border: none; }
.eo-post .card .card-body .eo-post-photo-link-box .eo-original-post .card-header {
padding: 1.25rem 0rem 0rem 1.25rem;
background-color: #fff;
border-bottom: none;
-webkit-border-radius: 0;
-moz-border-radius: 0;
-ms-border-radius: 0;
-o-border-radius: 0;
border-radius: 0;
border-left: 1px solid #ced4da; }
.eo-post .card .card-body .eo-post-photo-link-box .eo-original-post .card-header:before {
content: "";
position: absolute;
width: 0.5em;
height: 0.5em;
top: 2em;
left: -0.15em;
background-color: #f8f9fa;
border-radius: 100%;
border: 2px solid #ced4da;
z-index: 13; }
.eo-post .card .card-body .eo-post-photo-link-box .eo-original-post .card-header .eo-post-header-user-thumb {
width: 2.75em; }
.eo-post .card .card-body .eo-post-photo-link-box .eo-original-post .card-body {
padding: 1.25rem 0rem 0rem 1.25rem;
background-color: #fff;
border-bottom: none;
-webkit-border-radius: 0;
-moz-border-radius: 0;
-ms-border-radius: 0;
-o-border-radius: 0;
border-radius: 0;
border-left: 1px solid #ced4da; }
.eo-post .card .card-footer {
padding: 1.25rem 0rem 0rem 0rem;
background-color: #fff; }
.eo-post .card .card-footer .eo-likes .eo-btn-likes {
padding: .375rem .15rem .375rem 0rem; }
.eo-post .card .card-footer .eo-likes .eo-btn-likes i {
color: #adb5bd;
font-size: 1.5em; }
.eo-post .card .card-footer .eo-likes .eo-btn-likes.eo-active i {
color: #ff5e3a; }
.eo-post .card .card-footer .eo-likes .eo-likes-counter {
color: #adb5bd;
font-family: "Roboto", sans-serif;
font-size: 0.85rem;
line-height: 1.3;
font-weight: 400;
text-transform: none; }
.eo-post .card .card-footer .eo-people-who-liked ul {
display: inline; }
.eo-post .card .card-footer .eo-people-who-liked ul .eo-person-who-liked {
margin-right: -1rem; }
.eo-post .card .card-footer .eo-people-who-liked ul .eo-person-who-liked img {
border: 2px solid #fff;
width: 25px; }
.eo-post .card .card-footer .eo-people-who-liked .eo-people-who-liked-names {
display: inline-block;
vertical-align: middle;
color: #adb5bd;
font-family: "Roboto", sans-serif;
font-size: 0.85rem;
line-height: 1.3;
font-weight: 400;
text-transform: none; }
.eo-post .card .card-footer .eo-people-who-liked .eo-people-who-liked-names a {
color: #495057;
font-family: "Roboto", sans-serif;
font-size: 0.85rem;
line-height: 1.3;
font-weight: 500;
text-transform: none; }
.eo-post .card .card-footer .eo-comments .eo-btn-comments {
padding: .375rem .15rem .375rem 0rem; }
.eo-post .card .card-footer .eo-comments .eo-btn-comments i {
color: #adb5bd;
font-size: 1.5em; }
.eo-post .card .card-footer .eo-comments .eo-comments-counter {
color: #adb5bd;
font-family: "Roboto", sans-serif;
font-size: 0.85rem;
line-height: 1.3;
font-weight: 400;
text-transform: none; }
.eo-post .card .card-footer .eo-shares .eo-btn-shares {
padding: .375rem .15rem .375rem 0rem; }
.eo-post .card .card-footer .eo-shares .eo-btn-shares i {
color: #adb5bd;
font-size: 1.5em; }
.eo-post .card .card-footer .eo-shares .eo-shares-counter {
color: #adb5bd;
font-family: "Roboto", sans-serif;
font-size: 0.85rem;
line-height: 1.3;
font-weight: 400;
text-transform: none; }
.eo-post .card .eo-card-controls {
position: absolute;
top: 1em;
right: -1em; }
.eo-post .card .eo-card-controls .eo-control-item .eo-btn-control {
width: 2em;
height: 2em;
padding: 0;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%; }
.eo-post .card .eo-card-controls .eo-control-item .eo-btn-control i {
color: #fff; }
.eo-post .card .eo-card-controls .eo-control-item .eo-btn-control i.material-icons {
padding: 0.35em;
font-size: 18px; }
.eo-post .card .eo-card-controls .eo-control-item .eo-btn-control i.fa {
padding: 0.5em; }
.eo-post .card .eo-card-controls .eo-control-item .eo-btn-control.eo-btn-primary {
background-color: #adb5bd; }
.eo-post .card .eo-card-controls .eo-control-item .eo-btn-control.eo-btn-primary:hover, .eo-post .card .eo-card-controls .eo-control-item .eo-btn-control.eo-btn-primary.eo-active {
background-color: #ff5e3a; }
.eo-post .card .eo-card-controls .eo-control-item .eo-btn-control.eo-btn-quinary {
background-color: #adb5bd; }
.eo-post .card .eo-card-controls .eo-control-item .eo-btn-control.eo-btn-quinary:hover, .eo-post .card .eo-card-controls .eo-control-item .eo-btn-control.eo-btn-quinary.eo-active {
background-color: #ffc923; }
.eo-post .card .eo-card-controls .eo-control-item + .eo-control-item {
margin-top: 0.5em; }

.eo-post + .eo-post,
.eo-comment-box + .eo-post {
margin-top: 1.75em; }

.eo-post + .eo-comment,
.eo-comment + .eo-comment,
.eo-comment + .eo-reply,
.eo-reply + .eo-comment,
.eo-reply + .eo-reply,
.eo-comment + .eo-comment-box,
.eo-reply + .eo-comment-box,
.eo-comment + .eo-view-more-comments,
.eo-reply + .eo-view-more-comments,
.eo-view-more-comments + .eo-comment-box {
margin-top: 0em;
margin-top: -1px; }

.card + .eo-comment-wrapper {
margin-top: -2px;  
}

/* Comment */
.card.eo-comment {
position: relative;
border-radius: 0 !important;
margin-bottom: 0em;
padding: 1.25rem 0 0 0 !important;
background-color: #f8f9fa; }
.card.eo-comment .card-header {
padding: 0rem 1.25rem !important;
background-color: #f8f9fa !important;
border-bottom: none; }
.card.eo-comment .card-header .eo-post-header-user-thumb {
width: 2.75em; }
.card.eo-comment .card-header .eo-post-header-title a {
color: #495057;
font-family: "Roboto", sans-serif;
font-size: 0.875rem;
line-height: 1.3;
font-weight: 500;
text-transform: none; }
.card.eo-comment .card-header .eo-post-header-subtitle {
color: #adb5bd;
font-family: "Roboto", sans-serif;
font-size: 0.85rem;
line-height: 1.3;
font-weight: 400;
text-transform: none; }
.card.eo-comment .card-header .eo-dropdown .eo-btn-more:after {
display: none; }
.card.eo-comment .card-header .eo-dropdown .dropdown-menu .dropdown-item {
color: #adb5bd;
font-family: "Roboto", sans-serif;
font-size: 0.85rem;
line-height: 1.3;
font-weight: 500;
text-transform: none; }
.card.eo-comment .card-header .eo-dropdown .dropdown-menu .dropdown-item:hover {
color: #ff5e3a;
background-color: transparent; }
.card.eo-comment .card-body {
padding: 1rem 1.25rem 0.5rem 1.25rem !important;
background-color: #f8f9fa; }
.card.eo-comment .card-body .eo-post-text {
color: #868e96;
font-family: "Roboto", sans-serif;
font-size: 0.85rem;
line-height: 1.3;
font-weight: 400;
text-transform: none; }
@media (min-width: 576px) {
.card.eo-comment .card-body .eo-post-text {
font-size: 0.85rem; } }
@media (min-width: 768px) {
.card.eo-comment .card-body .eo-post-text {
font-size: 0.9rem; } }
@media (min-width: 992px) {
.card.eo-comment .card-body .eo-post-text {
font-size: 0.9rem; } }
@media (min-width: 1200px) {
.card.eo-comment .card-body .eo-post-text {
font-size: 0.9rem; } }
.card.eo-comment .card-footer {
border-top: none;
padding: 0rem 1.25rem 0.5em !important;
background-color: #f8f9fa !important; }
.card.eo-comment .card-footer .eo-likes .eo-btn-likes {
padding: .375rem .15rem .375rem 0rem; }
.card.eo-comment .card-footer .eo-likes .eo-btn-likes i {
color: #adb5bd;
font-size: 1.5em; }
.card.eo-comment .card-footer .eo-likes .eo-btn-likes.eo-active i {
color: #ff5e3a; }
.card.eo-comment .card-footer .eo-likes .eo-likes-counter {
color: #adb5bd;
font-family: "Roboto", sans-serif;
font-size: 0.85rem;
line-height: 1.3;
font-weight: 400;
text-transform: none; }
.card.eo-comment .card-footer .eo-reply {
color: #adb5bd;
font-family: "Roboto", sans-serif;
font-size: 0.85rem;
line-height: 1.3;
font-weight: 400;
text-transform: none; }

/* Reply */
.card.eo-reply {
position: relative;
border-radius: 0 !important;
border: none;
border-top: 1px solid #ced4da;
margin-bottom: 0em;
padding: 0 1.25rem 0 2.25rem !important;
background-color: #f8f9fa; }
.card.eo-reply .card-header {
padding: 1.25rem 0rem 0rem 1.25rem !important;
background-color: #f8f9fa !important;
border-bottom: none;
-webkit-border-radius: 0;
-moz-border-radius: 0;
-ms-border-radius: 0;
-o-border-radius: 0;
border-radius: 0;
border-left: 1px solid #ced4da; }
.card.eo-reply .card-header:before {
content: "";
position: absolute;
width: 0.5em;
height: 0.5em;
top: 2em;
left: 2em;
background-color: #f8f9fa;
border-radius: 100%;
border: 2px solid #ced4da;
z-index: 13; }
.card.eo-reply .card-header .eo-post-header-user-thumb {
width: 2.75em; }
.card.eo-reply .card-header .eo-post-header-title a {
color: #495057;
font-family: "Roboto", sans-serif;
font-size: 0.875rem;
line-height: 1.3;
font-weight: 500;
text-transform: none; }
.card.eo-reply .card-header .eo-post-header-subtitle {
color: #adb5bd;
font-family: "Roboto", sans-serif;
font-size: 0.85rem;
line-height: 1.3;
font-weight: 400;
text-transform: none; }
.card.eo-reply .card-header .eo-dropdown .eo-btn-more:after {
display: none; }
.card.eo-reply .card-header .eo-dropdown .dropdown-menu .dropdown-item {
color: #adb5bd;
font-family: "Roboto", sans-serif;
font-size: 0.85rem;
line-height: 1.3;
font-weight: 500;
text-transform: none; }
.card.eo-reply .card-header .eo-dropdown .dropdown-menu .dropdown-item:hover {
color: #ff5e3a;
background-color: transparent; }
.card.eo-reply .card-body {
padding: 1rem 0rem 0.5rem 1.25rem !important;
background-color: #f8f9fa !important;
-webkit-border-radius: 0;
-moz-border-radius: 0;
-ms-border-radius: 0;
-o-border-radius: 0;
border-radius: 0;
border-left: 1px solid #ced4da; }
.card.eo-reply .card-body .eo-post-text {
color: #868e96;
font-family: "Roboto", sans-serif;
font-size: 0.85rem;
line-height: 1.3;
font-weight: 400;
text-transform: none; }
@media (min-width: 576px) {
.card.eo-reply .card-body .eo-post-text {
font-size: 0.85rem; } }
@media (min-width: 768px) {
.card.eo-reply .card-body .eo-post-text {
font-size: 0.9rem; } }
@media (min-width: 992px) {
.card.eo-reply .card-body .eo-post-text {
font-size: 0.9rem; } }
@media (min-width: 1200px) {
.card.eo-reply .card-body .eo-post-text {
font-size: 0.9rem; } }
.card.eo-reply .card-footer {
border-top: none;
padding: 0rem 0rem 0.5rem 1.25rem !important;
background-color: #f8f9fa !important;
-webkit-border-radius: 0;
-moz-border-radius: 0;
-ms-border-radius: 0;
-o-border-radius: 0;
border-radius: 0;
border-left: 1px solid #ced4da; }
.card.eo-reply .card-footer .eo-likes .eo-btn-likes {
padding: .375rem .15rem .375rem 0rem; }
.card.eo-reply .card-footer .eo-likes .eo-btn-likes i {
color: #adb5bd;
font-size: 1.5em; }
.card.eo-reply .card-footer .eo-likes .eo-btn-likes.active i {
color: #ff5e3a; }
.card.eo-reply .card-footer .eo-likes .eo-likes-counter {
color: #adb5bd;
font-family: "Roboto", sans-serif;
font-size: 0.85rem;
line-height: 1.3;
font-weight: 400;
text-transform: none; }
.card.eo-reply .card-footer .eo-reply {
color: #adb5bd;
font-family: "Roboto", sans-serif;
font-size: 0.85rem;
line-height: 1.3;
font-weight: 400;
text-transform: none; }

/* View more comments */
.card.eo-view-more-comments {
border-radius: 0;
margin-bottom: 0em;
padding: 1.25rem 1.25rem;
background-color: #fff; }
.card.eo-view-more-comments a {
color: #495057;
font-family: "Roboto", sans-serif;
font-size: 0.85rem;
line-height: 1.3;
font-weight: 500;
text-transform: none; }
.card.eo-view-more-comments a i {
color: #ff5e3a; }

/* Comment box */
.card.eo-comment-box {
border-radius: 0;
margin-bottom: 0em;
padding: 1.25rem 1.25rem;
background-color: #fff; }
.card.eo-comment-box .eo-comment-form-textarea {
display: inline-block;
position: relative; }
.card.eo-comment-box .eo-comment-form-textarea textarea {
height: auto;
text-align: left;
padding: 0.5em 4em 0.5em 1em;
border: 1px solid #ced4da;
border-radius: 0.25em;
background-color: #fff;
-webkit-box-shadow: none;
box-shadow: none;
resize: vertical;
margin-bottom: 0;
color: #868e96;
font-family: "Roboto", sans-serif;
font-size: 0.85rem;
line-height: 1.3;
font-weight: 400;
text-transform: none; }
@media (min-width: 576px) {
.card.eo-comment-box .eo-comment-form-textarea textarea {
width: 28em; } }
@media (min-width: 768px) {
.card.eo-comment-box .eo-comment-form-textarea textarea {
width: 40em; } }
@media (min-width: 992px) {
.card.eo-comment-box .eo-comment-form-textarea textarea {
width: 25em; } }
@media (min-width: 1200px) {
.card.eo-comment-box .eo-comment-form-textarea textarea {
width: 30em; } }
.card.eo-comment-box .eo-comment-form-textarea textarea:focus {
-webkit-box-shadow: none;
box-shadow: none;
border: 1px solid #ff5e3a;
background-color: #fff; }
.card.eo-comment-box .eo-comment-form-textarea .eo-comment-form-textarea-icon {
position: absolute;
right: 0.5em;
bottom: 0.75em;
color: #ced4da;
font-size: 1.25em; }
@media (min-width: 1200px) {
.card.eo-comment-box .eo-comment-form-textarea .eo-comment-form-textarea-icon {
right: 0.5em;
bottom: 0.4em;
font-size: 1.65em; } }

/* Load more posts */
.eo-load-more-posts .eo-btn-load-more {
background-color: #ced4da;
padding: .6rem .75rem;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%; }
.eo-load-more-posts .eo-btn-load-more i {
color: #fff; }
.eo-load-more-posts .eo-btn-load-more i:hover, .eo-load-more-posts .eo-btn-load-more i:focus, .eo-load-more-posts .eo-btn-load-more i:active {
color: #ff5e3a; }
