<div class="eo-post" *ngFor="let post of posts">
  
  <div class="card">
    <div class="card-header">              
      <div class="media">
        <img class="eo-post-header-user-thumb align-self-center img-fluid rounded-circle pr-2 pr-sm-2 pr-md-2 pr-lg-3 pr-xl-3" src="assets/img/users/james-spiegel-thumb.jpg" alt="User thumb">
        <div class="media-body">
          <div class="eo-post-header-title">
            <a href="#">{{post.owner}}</a>
            <span *ngIf="post.sharedALink >0" class="eo-post-link">shared a <a href="{{post.linkUrl}}">link</a></span>
            <span *ngIf="post.sharedAPhoto >0" class="eo-post-link">shared <a href="{{post.sharedPhotoOwnerUrl}}">{{post.sharedPhotoOwner}}</a>'s<a href="{{post.sharedPhotoLink}}">photo</a></span>
          </div>
          <div class="eo-post-header-subtitle">{{post.time}}</div>
        </div>
        <div class="dropdown eo-dropdown" ngbDropdown>
          <button class="btn eo-btn-more align-self-center float-right dropdown-toggle" type="button" id="dropdownMenuButton" ngbDropdownToggle>
            <i class="material-icons">more_horiz</i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
            <a class="dropdown-item" href="#">Edit post</a>
            <a class="dropdown-item" href="#">Delete post</a>
            <a class="dropdown-item" href="#">Turn Off Notifications</a>
            <a class="dropdown-item" href="#">Select as Featured</a>
          </div>
        </div>                                          
      </div>
    </div>
    <div class="card-body">
      <p class="card-text eo-post-text">{{post.text}}</p>
      <div class="eo-post-video-link-box" *ngIf="post.sharedAVideo >0">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
            <a href="{{post.videoLink}}" target="_blank">
              <div class="eo-post-video-link-img">
                <img class=" img-fluid align-self-center" src="{{post.videoImgUrl}}" alt="Generic placeholder image">
                <span class="eo-post-video-play-icon">
                  <i class="material-icons">play_arrow</i>
                </span>                          
              </div>
            </a>                      
          </div>
          <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
            <div class="p-3">
              <a href="{{post.videoLink}}">
                <div class="eo-post-video-link-title mb-3 mb-sm-3 mb-md-3 mb-lg-3 mb-xl-3">{{post.videoTitle}}</div>
              </a>
              <p>{{post.videoText}}</p>
              <a href="{{post.videoLink}}" class="eo-post-video-link">{{post.videoLinkText}}</a>
            </div>                      
          </div>
        </div>                      
      </div>
      <div class="card eo-post-photo-link-box" *ngIf="post.sharedAPhoto >0">
        <img class="eo-post-photo img-fluid" src="{{post.sharedPhotoUrl}}" alt="Post photo">
        <div class="card eo-original-post">
          <div class="card-header">              
            <div class="media">
              <img class="eo-post-header-user-thumb align-self-center img-fluid rounded-circle pr-2 pr-sm-2 pr-md-2 pr-lg-3 pr-xl-3" src="{{post.sharedPhotoOwnerImgUrl}}" alt="User thumb"> 
              <div class="media-body">
                <div class="eo-post-header-title">{{post.sharedPhotoOwner}}</div>
                <div class="eo-post-header-subtitle">{{post.sharedPhotoPostTime}}</div>
              </div>
            </div>
          </div>    
          <div class="card-body">
            <p class="card-text eo-post-text">{{post.sharedPhotoPostText}}</p>
          </div>                      
        </div>                   
      </div>            
    </div>
    <div class="card-footer">
      <span class="eo-likes align-self-center mr-2">
        <a href="#" class="btn eo-btn-likes {{post.quantityLikedActive}}">
          <i class="fa fa-heart"></i>
        </a>
        <span class="eo-likes-counter">{{post.quantityLikedBruto}}</span>
      </span>
      <span class="eo-people-who-liked align-self-center">
        <ul class="list-inline list-unstyled mr-4">
          <li class="list-inline-item eo-person-who-liked" *ngFor="let user of users">
            <a href="#"><img class="img-fluid rounded-circle" src="{{user.imageThumbUrl}}"></a>
          </li>                                                    
        </ul>
        <span class="eo-people-who-liked-names align-self-center mr-2">
          <a href="#">{{post.whoLikedPerson1}}</a>, <a href="#">{{post.whoLikedPerson2}}</a> and <br> {{post.quantityLikedNeto}} more liked this                    
        </span>                                       
      </span>
      <span class="eo-shares align-self-center float-right">
        <a href="#" class="btn eo-btn-shares">
          <i class="material-icons">compare_arrows</i>
        </a>
        <span class="eo-shares-counter">{{post.quantityShared}}</span>
      </span>                    
      <span class="eo-comments align-self-center float-right mr-3">
        <a href="#" class="btn eo-btn-comments">
          <i class="material-icons">chat</i>
        </a>
        <span class="eo-comments-counter">{{post.quantityCommented}}</span>
      </span>                                  
    </div>
    <div class="eo-card-controls">
      <ul class="list-unstyled">
        <li class="eo-control-item" *ngIf="post.controlFeatured >0">
          <a href="#" class="btn eo-btn-control eo-btn-quinary {{post.controlFeaturedActive}}">
            <i class="fa fa-trophy"></i>
          </a>
        </li>
        <li class="eo-control-item">
          <a href="#" class="btn eo-btn-control eo-btn-primary {{post.controlLikedActive}}">
            <i class="fa fa-heart"></i>
          </a>
        </li>
        <li class="eo-control-item">
          <a href="#" class="btn eo-btn-control eo-btn-primary {{post.controlCommentedActive}}">
            <i class="material-icons">chat</i>
          </a>
        </li>
        <li class="eo-control-item">
          <a href="#" class="btn eo-btn-control eo-btn-primary {{post.controlSharedActive}}">
            <i class="material-icons">compare_arrows</i>
          </a>
        </li>                                                            
      </ul>
    </div>                
  </div>

  <div class="eo-comment-wrapper" *ngIf="post.commentedPost >0">

    <div class="card eo-comment" *ngFor="let comment of comments">
      <div class="card-header">              
        <div class="media">
          <img class="eo-post-header-user-thumb align-self-center img-fluid rounded-circle pr-2 pr-sm-2 pr-md-2 pr-lg-3 pr-xl-3" src="{{comment.imageUrl}}" alt="User thumb">
          <div class="media-body">
            <div class="eo-post-header-title"><a href="#">{{comment.owner}}</a></div>
            <div class="eo-post-header-subtitle">{{comment.time}}</div>
          </div>
          <div class="dropdown eo-dropdown" ngbDropdown>
            <button class="btn eo-btn-more align-self-center float-right dropdown-toggle" type="button" id="dropdownMenuButton" ngbDropdownToggle>
              <i class="material-icons">more_horiz</i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
              <a class="dropdown-item" href="#">Edit post</a>
              <a class="dropdown-item" href="#">Delete post</a>
              <a class="dropdown-item" href="#">Turn Off Notifications</a>
              <a class="dropdown-item" href="#">Select as Featured</a>
            </div>
          </div>                                        
        </div>
      </div>
      <div class="card-body">
        <p class="card-text eo-post-text">{{comment.text}}</p>
      </div>
      <div class="card-footer">
        <span class="eo-likes align-self-center mr-2">
          <a href="#" class="btn eo-btn-likes {{comment.quantityLikedActive}}">
            <i class="fa fa-heart"></i>
          </a>
          <span class="eo-likes-counter">{{comment.quantityLiked}}</span>
        </span>
        <span class="eo-reply align-self-center">Reply</span>
      </div>
      <div class="eo-reply-wrapper" *ngIf="comment.repliedComment >0">
        <div class="card eo-reply" *ngFor="let reply of replies">
          <div class="card-header">              
            <div class="media">
              <img class="eo-post-header-user-thumb align-self-center img-fluid rounded-circle pr-2 pr-sm-2 pr-md-2 pr-lg-3 pr-xl-3" src="{{reply.imageUrl}}" alt="User thumb">
              <div class="media-body">
                <div class="eo-post-header-title"><a href="#">{{reply.owner}}</a></div>
                <div class="eo-post-header-subtitle">{{reply.time}}</div>
              </div>
              <div class="dropdown eo-dropdown" ngbDropdown>
                <button class="btn eo-btn-more align-self-center float-right dropdown-toggle" type="button" id="dropdownMenuButton" ngbDropdownToggle>
                  <i class="material-icons">more_horiz</i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
                  <a class="dropdown-item" href="#">Edit post</a>
                  <a class="dropdown-item" href="#">Delete post</a>
                  <a class="dropdown-item" href="#">Turn Off Notifications</a>
                  <a class="dropdown-item" href="#">Select as Featured</a>
                </div>
              </div>                                         
            </div>
          </div>
          <div class="card-body">
            <p class="card-text eo-post-text">{{reply.text}}</p>
          </div>
          <div class="card-footer">
            <span class="eo-likes align-self-center mr-2">
              <a href="#" class="btn eo-btn-likes">
                <i class="fa fa-heart"></i>
              </a>
              <span class="eo-likes-counter">{{reply.quantityLiked}}</span>
            </span>
            <span class="eo-reply align-self-center">Reply</span>
          </div>
        </div>  
      </div>       
    </div>

    <div class="card eo-view-more-comments text-center">
      <a href="#">
        View more comments
        <i class="fa fa-plus" aria-hidden="true"></i>
      </a> 
    </div> 

    <div class="card eo-comment-box">
      <form class="eo-comment-form form-inline">
        <div class="row justify-content-center">
          <div class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-2 text-center align-self-center">
            <img class="eo-comment-box-user-thumb img-fluid rounded-circle" src="assets/img/users/james-spiegel-thumb.jpg" alt="User thumb">                     
          </div>
          <div class="col-9 col-sm-10 col-md-10 col-lg-10 col-xl-10">
            <div class="eo-comment-form-textarea align-self-center">
              <textarea name="message" class="form-control placeholder" id="input-message" placeholder="" rows="2" data-toggle="tooltip" title="" data-original-title="Message is required"></textarea>
              <i class="material-icons eo-comment-form-textarea-icon">camera_alt</i>
            </div>                     
          </div>                    
        </div>
      </form>                           
    </div>       

  </div>



</div>

<div class="eo-load-more-posts text-center my-4 my-sm-4 my-md-4 my-lg-4 my-xl-4">
  <button type="button" class="btn eo-btn-load-more">
    <i class="material-icons">more_horiz</i>
  </button> 
</div> 