<div class="card eo-post">
  <div class="card-header">              
    <div class="media">
      <img class="eo-post-header-user-thumb align-self-center img-fluid rounded-circle pr-2 pr-sm-2 pr-md-2 pr-lg-3 pr-xl-3" src="assets/img/users/james-spiegel-thumb.jpg" alt="User thumb">
      <div class="media-body">
        <div class="eo-post-header-title">James Spiegel</div>
        <div class="eo-post-header-subtitle">19 hours ago</div>
      </div>
      <div class="dropdown eo-dropdown" ngbDropdown>
        <button class="btn eo-btn-more align-self-center float-right dropdown-toggle" type="button" id="dropdownMenuButton" ngbDropdownToggle>
          <i class="material-icons">more_horiz</i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
          <a class="dropdown-item" href="#">Edit post</a>
          <a class="dropdown-item" href="#">Delete post</a>
          <a class="dropdown-item" href="#">Turn Off Notifications</a>
          <a class="dropdown-item" href="#">Select as Featured</a>
        </div>
      </div>                                          
    </div>
  </div>
  <div class="card-body">
    <p class="card-text eo-post-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
  </div>
  <div class="card-footer">
    <span class="eo-likes align-self-center mr-2">
      <a href="#" class="btn eo-btn-likes">
        <i class="fa fa-heart"></i>
      </a>
      <span class="eo-likes-counter">8</span>
    </span>
    <span class="eo-people-who-liked align-self-center">
      <ul class="list-inline list-unstyled mr-4">
        <li class="list-inline-item eo-person-who-liked">
          <a href="#"><img class="img-fluid rounded-circle" src="http://via.placeholder.com/25x25"></a>
        </li>
        <li class="list-inline-item eo-person-who-liked">
          <a href="#"><img class="img-fluid rounded-circle" src="http://via.placeholder.com/25x25"></a>
        </li>
        <li class="list-inline-item eo-person-who-liked">
          <a href="#"><img class="img-fluid rounded-circle" src="http://via.placeholder.com/25x25"></a>
        </li>
        <li class="list-inline-item eo-person-who-liked">
          <a href="#"><img class="img-fluid rounded-circle" src="http://via.placeholder.com/25x25"></a>
        </li>
        <li class="list-inline-item eo-person-who-liked">
          <a href="#"><img class="img-fluid rounded-circle" src="http://via.placeholder.com/25x25"></a>
        </li>                                                                        
      </ul>
      <span class="eo-people-who-liked-names align-self-center mr-2">
        <a href="#">Jenny</a>, <a href="#">Robert</a> and <br> 6 more liked this                    
      </span>                                       
    </span>
    <span class="eo-shares align-self-center float-right">
      <a href="#" class="btn eo-btn-shares">
        <i class="material-icons">compare_arrows</i>
      </a>
      <span class="eo-shares-counter">24</span>
    </span>                    
    <span class="eo-comments align-self-center float-right mr-3">
      <a href="#" class="btn eo-btn-comments">
        <i class="material-icons">chat</i>
      </a>
      <span class="eo-comments-counter">17</span>
    </span>                                  
  </div>
  <div class="eo-card-controls">
    <ul class="list-unstyled">
      <li class="eo-control-item">
        <a href="#" class="btn eo-btn-control eo-btn-quinary eo-active">
          <i class="fa fa-trophy"></i>
        </a>
      </li>
      <li class="eo-control-item">
        <a href="#" class="btn eo-btn-control eo-btn-primary">
          <i class="fa fa-heart"></i>
        </a>
      </li>
      <li class="eo-control-item">
        <a href="#" class="btn eo-btn-control eo-btn-primary">
          <i class="material-icons">chat</i>
        </a>
      </li>
      <li class="eo-control-item">
        <a href="#" class="btn eo-btn-control eo-btn-primary">
          <i class="material-icons">compare_arrows</i>
        </a>
      </li>                                                            
    </ul>
  </div>                
</div>

<div class="card eo-post">
  <div class="card-header">              
    <div class="media">
      <img class="eo-post-header-user-thumb align-self-center img-fluid rounded-circle pr-2 pr-sm-2 pr-md-2 pr-lg-3 pr-xl-3" src="assets/img/users/james-spiegel-thumb.jpg" alt="User thumb">
      <div class="media-body">
        <div class="eo-post-header-title">James Spiegel <span class="eo-post-link">shared a <a href="#">link</a></span></div>
        <div class="eo-post-header-subtitle">7 hours ago</div>
      </div>
      <div class="dropdown eo-dropdown" ngbDropdown>
        <button class="btn eo-btn-more align-self-center float-right dropdown-toggle" type="button" id="dropdownMenuButton" ngbDropdownToggle>
          <i class="material-icons">more_horiz</i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
          <a class="dropdown-item" href="#">Edit post</a>
          <a class="dropdown-item" href="#">Delete post</a>
          <a class="dropdown-item" href="#">Turn Off Notifications</a>
          <a class="dropdown-item" href="#">Select as Featured</a>
        </div>
      </div>                                              
    </div>
  </div>
  <div class="card-body">
    <p class="card-text eo-post-text">If someone missed it, check out the new song by System of a Revenge! I thinks they are going back to their roots...</p>
    <div class="eo-post-video-link-box">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
          <a href="#">
            <div class="eo-post-video-link-img">
              <img class=" img-fluid align-self-center" src="http://via.placeholder.com/768x768" alt="Generic placeholder image">
              <span class="eo-post-video-play-icon">
                <i class="material-icons">play_arrow</i>
              </span>                          
            </div>
          </a>                      
        </div>
        <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
          <div class="p-3">
            <a href="#"><div class="eo-post-video-link-title mb-3 mb-sm-3 mb-md-3 mb-lg-3 mb-xl-3">System of a Revenge - Nothing Else Matters (LIVE)</div></a>
            <p>Lorem ipsum dolor sit amet, consectetur ipisicing elit, sed do eiusmod tempo incididunt ut labore..</p>
            <a href="#" class="eo-post-video-link">youtube.com</a>
          </div>                      
        </div>
      </div>                      
    </div>
  </div>
  <div class="card-footer">
    <span class="eo-likes align-self-center mr-2">
      <a href="#" class="btn eo-btn-likes">
        <i class="fa fa-heart"></i>
      </a>
      <span class="eo-likes-counter">15</span>
    </span>
    <span class="eo-people-who-liked align-self-center">
      <ul class="list-inline list-unstyled mr-4">
        <li class="list-inline-item eo-person-who-liked">
          <a href="#"><img class="img-fluid rounded-circle" src="http://via.placeholder.com/25x25"></a>
        </li>
        <li class="list-inline-item eo-person-who-liked">
          <a href="#"><img class="img-fluid rounded-circle" src="http://via.placeholder.com/25x25"></a>
        </li>
        <li class="list-inline-item eo-person-who-liked">
          <a href="#"><img class="img-fluid rounded-circle" src="http://via.placeholder.com/25x25"></a>
        </li>
        <li class="list-inline-item eo-person-who-liked">
          <a href="#"><img class="img-fluid rounded-circle" src="http://via.placeholder.com/25x25"></a>
        </li>
        <li class="list-inline-item eo-person-who-liked">
          <a href="#"><img class="img-fluid rounded-circle" src="http://via.placeholder.com/25x25"></a>
        </li>                                                                        
      </ul>
      <span class="eo-people-who-liked-names align-self-center mr-2">
        <a href="#">Jenny</a>, <a href="#">Robert</a> and <br> 13 more liked this                    
      </span>                                       
    </span>
    <span class="eo-shares align-self-center float-right">
      <a href="#" class="btn eo-btn-shares">
        <i class="material-icons">compare_arrows</i>
      </a>
      <span class="eo-shares-counter">16</span>
    </span>                    
    <span class="eo-comments align-self-center float-right mr-3">
      <a href="#" class="btn eo-btn-comments">
        <i class="material-icons">chat</i>
      </a>
      <span class="eo-comments-counter">1</span>
    </span>                                  
  </div>
  <div class="eo-card-controls">
    <ul class="list-unstyled">
      <li class="eo-control-item">
        <a href="#" class="btn eo-btn-control eo-btn-primary">
          <i class="fa fa-heart"></i>
        </a>
      </li>
      <li class="eo-control-item">
        <a href="#" class="btn eo-btn-control eo-btn-primary">
          <i class="material-icons">chat</i>
        </a>
      </li>
      <li class="eo-control-item">
        <a href="#" class="btn eo-btn-control eo-btn-primary">
          <i class="material-icons">compare_arrows</i>
        </a>
      </li>                                                            
    </ul>
  </div>                
</div>





<div class="card eo-post eo-commented-post">
  <div class="card-header">              
    <div class="media">
      <img class="eo-post-header-user-thumb align-self-center img-fluid rounded-circle pr-2 pr-sm-2 pr-md-2 pr-lg-3 pr-xl-3" src="assets/img/users/james-spiegel-thumb.jpg" alt="User thumb">
      <div class="media-body">
        <div class="eo-post-header-title">James Spiegel</div>
        <div class="eo-post-header-subtitle">2 hours ago</div>
      </div>
      <div class="dropdown eo-dropdown" ngbDropdown>
        <button class="btn eo-btn-more align-self-center float-right dropdown-toggle" type="button" id="dropdownMenuButton" ngbDropdownToggle>
          <i class="material-icons">more_horiz</i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
          <a class="dropdown-item" href="#">Edit post</a>
          <a class="dropdown-item" href="#">Delete post</a>
          <a class="dropdown-item" href="#">Turn Off Notifications</a>
          <a class="dropdown-item" href="#">Select as Featured</a>
        </div>
      </div>                                         
    </div>
  </div>
  <div class="card-body">
    <p class="card-text eo-post-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris consequat.</p>
  </div>
  <div class="card-footer">
    <span class="eo-likes align-self-center mr-2">
      <a href="#" class="btn eo-btn-likes">
        <i class="fa fa-heart"></i>
      </a>
      <span class="eo-likes-counter">36</span>
    </span>
    <span class="eo-people-who-liked align-self-center">
      <ul class="list-inline list-unstyled mr-4">
        <li class="list-inline-item eo-person-who-liked">
          <a href="#"><img class="img-fluid rounded-circle" src="http://via.placeholder.com/25x25"></a>
        </li>
        <li class="list-inline-item eo-person-who-liked">
          <a href="#"><img class="img-fluid rounded-circle" src="http://via.placeholder.com/25x25"></a>
        </li>
        <li class="list-inline-item eo-person-who-liked">
          <a href="#"><img class="img-fluid rounded-circle" src="http://via.placeholder.com/25x25"></a>
        </li>
        <li class="list-inline-item eo-person-who-liked">
          <a href="#"><img class="img-fluid rounded-circle" src="http://via.placeholder.com/25x25"></a>
        </li>
        <li class="list-inline-item eo-person-who-liked">
          <a href="#"><img class="img-fluid rounded-circle" src="http://via.placeholder.com/25x25"></a>
        </li>                                                                        
      </ul>
      <span class="eo-people-who-liked-names align-self-center mr-2">
        <a href="#">Jenny</a>, <a href="#">Robert</a> and <br> 34 more liked this                    
      </span>                                       
    </span>
    <span class="eo-shares align-self-center float-right">
      <a href="#" class="btn eo-btn-shares">
        <i class="material-icons">compare_arrows</i>
      </a>
      <span class="eo-shares-counter">24</span>
    </span>                   
    <span class="eo-comments align-self-center float-right mr-3">
      <a href="#" class="btn eo-btn-comments">
        <i class="material-icons">chat</i>
      </a>
      <span class="eo-comments-counter">17</span>
    </span>                                   
  </div>
  <div class="eo-card-controls">
    <ul class="list-unstyled">
      <li class="eo-control-item">
        <a href="#" class="btn eo-btn-control eo-btn-primary eo-active">
          <i class="fa fa-heart"></i>
        </a>
      </li>
      <li class="eo-control-item">
        <a href="#" class="btn eo-btn-control eo-btn-primary">
          <i class="material-icons">chat</i>
        </a>
      </li>
      <li class="eo-control-item">
        <a href="#" class="btn eo-btn-control eo-btn-primary">
          <i class="material-icons">compare_arrows</i>
        </a>
      </li>                                                            
    </ul>
  </div>               
</div>

<div class="card eo-comment">
  <div class="card-header">              
    <div class="media">
      <img class="eo-post-header-user-thumb align-self-center img-fluid rounded-circle pr-2 pr-sm-2 pr-md-2 pr-lg-3 pr-xl-3" src="assets/img/users/elaine-dreyfuss-thumb.jpg" alt="User thumb">
      <div class="media-body">
        <div class="eo-post-header-title">Elaine Dreyfuss</div>
        <div class="eo-post-header-subtitle">5 mins ago</div>
      </div>
      <div class="dropdown eo-dropdown" ngbDropdown>
        <button class="btn eo-btn-more align-self-center float-right dropdown-toggle" type="button" id="dropdownMenuButton" ngbDropdownToggle>
          <i class="material-icons">more_horiz</i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
          <a class="dropdown-item" href="#">Edit post</a>
          <a class="dropdown-item" href="#">Delete post</a>
          <a class="dropdown-item" href="#">Turn Off Notifications</a>
          <a class="dropdown-item" href="#">Select as Featured</a>
        </div>
      </div>                                        
    </div>
  </div>
  <div class="card-body">
    <p class="card-text eo-post-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque laudantium.</p>
  </div>
  <div class="card-footer">
    <span class="eo-likes align-self-center mr-2">
      <a href="#" class="btn eo-btn-likes active">
        <i class="fa fa-heart"></i>
      </a>
      <span class="eo-likes-counter">8</span>
    </span>
    <span class="eo-reply align-self-center">Reply</span>
  </div>
</div>                

<div class="card eo-comment">
  <div class="card-header">              
    <div class="media">
      <img class="eo-post-header-user-thumb align-self-center img-fluid rounded-circle pr-2 pr-sm-2 pr-md-2 pr-lg-3 pr-xl-3" src="assets/img/users/green-goo-rock-thumb.jpg" alt="User thumb">
      <div class="media-body">
        <div class="eo-post-header-title">Green Goo Rock</div>
        <div class="eo-post-header-subtitle">1 hour ago</div>
      </div>
      <div class="dropdown eo-dropdown" ngbDropdown>
        <button class="btn eo-btn-more align-self-center float-right dropdown-toggle" type="button" id="dropdownMenuButton" ngbDropdownToggle>
          <i class="material-icons">more_horiz</i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
          <a class="dropdown-item" href="#">Edit post</a>
          <a class="dropdown-item" href="#">Delete post</a>
          <a class="dropdown-item" href="#">Turn Off Notifications</a>
          <a class="dropdown-item" href="#">Select as Featured</a>
        </div>
      </div>                                        
    </div>
  </div>
  <div class="card-body">
    <p class="card-text eo-post-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque laudantium.</p>
  </div>
  <div class="card-footer">
    <span class="eo-likes align-self-center mr-2">
      <a href="#" class="btn eo-btn-likes">
        <i class="fa fa-heart"></i>
      </a>
      <span class="eo-likes-counter">5</span>
    </span>
    <span class="eo-reply align-self-center">Reply</span>
  </div>
</div> 

<div class="card eo-reply">
  <div class="card-header">              
    <div class="media">
      <img class="eo-post-header-user-thumb align-self-center img-fluid rounded-circle pr-2 pr-sm-2 pr-md-2 pr-lg-3 pr-xl-3" src="assets/img/users/diana-jameson-thumb.jpg" alt="User thumb">
      <div class="media-body">
        <div class="eo-post-header-title">Diana Jameson</div>
        <div class="eo-post-header-subtitle">39 mins ago</div>
      </div>
      <div class="dropdown eo-dropdown" ngbDropdown>
        <button class="btn eo-btn-more align-self-center float-right dropdown-toggle" type="button" id="dropdownMenuButton" ngbDropdownToggle>
          <i class="material-icons">more_horiz</i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
          <a class="dropdown-item" href="#">Edit post</a>
          <a class="dropdown-item" href="#">Delete post</a>
          <a class="dropdown-item" href="#">Turn Off Notifications</a>
          <a class="dropdown-item" href="#">Select as Featured</a>
        </div>
      </div>                                         
    </div>
  </div>
  <div class="card-body">
    <p class="card-text eo-post-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque laudantium.</p>
  </div>
  <div class="card-footer">
    <span class="eo-likes align-self-center mr-2">
      <a href="#" class="btn eo-btn-likes">
        <i class="fa fa-heart"></i>
      </a>
      <span class="eo-likes-counter">2</span>
    </span>
    <span class="eo-reply align-self-center">Reply</span>
  </div>
</div>

<div class="card eo-reply">
  <div class="card-header">              
    <div class="media">
      <img class="eo-post-header-user-thumb align-self-center img-fluid rounded-circle pr-2 pr-sm-2 pr-md-2 pr-lg-3 pr-xl-3" src="assets/img/users/nicholas-grisom-thumb.jpg" alt="User thumb">
      <div class="media-body">
        <div class="eo-post-header-title">Nicholas Grisom</div>
        <div class="eo-post-header-subtitle">24 mins ago</div>
      </div>
      <div class="dropdown eo-dropdown" ngbDropdown>
        <button class="btn eo-btn-more align-self-center float-right dropdown-toggle" type="button" id="dropdownMenuButton" ngbDropdownToggle>
          <i class="material-icons">more_horiz</i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
          <a class="dropdown-item" href="#">Edit post</a>
          <a class="dropdown-item" href="#">Delete post</a>
          <a class="dropdown-item" href="#">Turn Off Notifications</a>
          <a class="dropdown-item" href="#">Select as Featured</a>
        </div>
      </div>                                        
    </div>
  </div>
  <div class="card-body">
    <p class="card-text eo-post-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque laudantium.</p>
  </div>
  <div class="card-footer">
    <span class="eo-likes align-self-center mr-2">
      <a href="#" class="btn eo-btn-likes active">
        <i class="fa fa-heart"></i>
      </a>
      <span class="eo-likes-counter">0</span>
    </span>
    <span class="eo-reply align-self-center">Reply</span>
  </div>
</div>

<div class="card eo-comment">
  <div class="card-header">              
    <div class="media">
      <img class="eo-post-header-user-thumb align-self-center img-fluid rounded-circle pr-2 pr-sm-2 pr-md-2 pr-lg-3 pr-xl-3" src="assets/img/users/chris-greyson-thumb.jpg" alt="User thumb">
      <div class="media-body">
        <div class="eo-post-header-title">Chris Greyson</div>
        <div class="eo-post-header-subtitle">1 hour ago</div>
      </div>
      <div class="dropdown eo-dropdown" ngbDropdown>
        <button class="btn eo-btn-more align-self-center float-right dropdown-toggle" type="button" id="dropdownMenuButton" ngbDropdownToggle>
          <i class="material-icons">more_horiz</i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
          <a class="dropdown-item" href="#">Edit post</a>
          <a class="dropdown-item" href="#">Delete post</a>
          <a class="dropdown-item" href="#">Turn Off Notifications</a>
          <a class="dropdown-item" href="#">Select as Featured</a>
        </div>
      </div>                                         
    </div>
  </div>
  <div class="card-body">
    <p class="card-text eo-post-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque laudantium.</p>
  </div>
  <div class="card-footer">
    <span class="eo-likes align-self-center mr-2">
      <a href="#" class="btn eo-btn-likes">
        <i class="fa fa-heart"></i>
      </a>
      <span class="eo-likes-counter">7</span>
    </span>
    <span class="eo-reply align-self-center">Reply</span>
  </div>
</div>

<div class="card eo-view-more-comments text-center">
  <a href="#">
    View more comments
    <i class="fa fa-plus" aria-hidden="true"></i>
  </a> 
</div>

<div class="card eo-comment-box">
  <form class="eo-comment-form form-inline">
    <div class="row justify-content-center">
      <div class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-2 text-center align-self-center">
        <img class="eo-comment-box-user-thumb img-fluid rounded-circle" src="assets/img/users/james-spiegel-thumb.jpg" alt="User thumb">                     
      </div>
      <div class="col-9 col-sm-10 col-md-10 col-lg-10 col-xl-10">
        <div class="eo-comment-form-textarea align-self-center">
          <textarea name="message" class="form-control placeholder" id="input-message" placeholder="" rows="2" data-toggle="tooltip" title="" data-original-title="Message is required"></textarea>
          <i class="material-icons eo-comment-form-textarea-icon">camera_alt</i>
        </div>                     
      </div>                    
    </div>
  </form>                           
</div>






<div class="card eo-post">
  <div class="card-header">              
    <div class="media">
      <img class="eo-post-header-user-thumb align-self-center img-fluid rounded-circle pr-2 pr-sm-2 pr-md-2 pr-lg-3 pr-xl-3" src="assets/img/users/james-spiegel-thumb.jpg" alt="User thumb">
      <div class="media-body">
        <div class="eo-post-header-title">James Spiegel <span class="eo-post-link">shared <a href="#">Diana Jameson</a>'s <a href="#">photo</a></span>#</div>
        <div class="eo-post-header-subtitle">7 hours ago</div>
      </div>
      <div class="dropdown eo-dropdown" ngbDropdown>
        <button class="btn eo-btn-more align-self-center float-right dropdown-toggle" type="button" id="dropdownMenuButton" ngbDropdownToggle>
          <i class="material-icons">more_horiz</i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
          <a class="dropdown-item" href="#">Edit post</a>
          <a class="dropdown-item" href="#">Delete post</a>
          <a class="dropdown-item" href="#">Turn Off Notifications</a>
          <a class="dropdown-item" href="#">Select as Featured</a>
        </div>
      </div>                                         
    </div>
  </div>
  <div class="card-body">
    <p class="card-text eo-post-text">Hi! Everyone should check out these amazing photographs that my friend shot the past week. Here’s one of them...leave a kind comment!</p>
    <div class="card eo-post-photo-link-box">
      <img class="eo-post-photo img-fluid" src="assets/img/post-photo.jpg" alt="Post photo">
      <div class="card eo-original-post">
        <div class="card-header">              
          <div class="media">
            <img class="eo-post-header-user-thumb align-self-center img-fluid rounded-circle pr-2 pr-sm-2 pr-md-2 pr-lg-3 pr-xl-3" src="assets/img/users/diana-jameson-thumb.jpg" alt="User thumb"> 
            <div class="media-body">
              <div class="eo-post-header-title">Diana Jameson</div>
              <div class="eo-post-header-subtitle">16 hours ago</div>
            </div>
          </div>
        </div>    
        <div class="card-body">
          <p class="card-text eo-post-text">Here’s the first photo of our incredible photoshoot from yesterday. If you like it please say so and tel me what you wanna see next!</p>
        </div>                      
      </div>                   
    </div>
  </div>
  <div class="card-footer">
    <span class="eo-likes align-self-center mr-2">
      <a href="#" class="btn eo-btn-likes">
        <i class="fa fa-heart"></i>
      </a>
      <span class="eo-likes-counter">15</span>
    </span>
    <span class="eo-people-who-liked align-self-center">
      <ul class="list-inline list-unstyled mr-4">
        <li class="list-inline-item eo-person-who-liked">
          <a href="#"><img class="img-fluid rounded-circle" src="http://via.placeholder.com/25x25"></a>
        </li>
        <li class="list-inline-item eo-person-who-liked">
          <a href="#"><img class="img-fluid rounded-circle" src="http://via.placeholder.com/25x25"></a>
        </li>
        <li class="list-inline-item eo-person-who-liked">
          <a href="#"><img class="img-fluid rounded-circle" src="http://via.placeholder.com/25x25"></a>
        </li>
        <li class="list-inline-item eo-person-who-liked">
          <a href="#"><img class="img-fluid rounded-circle" src="http://via.placeholder.com/25x25"></a>
        </li>
        <li class="list-inline-item eo-person-who-liked">
          <a href="#"><img class="img-fluid rounded-circle" src="http://via.placeholder.com/25x25"></a>
        </li>                                                                        
      </ul>
      <span class="eo-people-who-liked-names align-self-center mr-2">
        <a href="#">Diana</a>, <a href="#">Nicholas</a> and <br> 13 more liked this                    
      </span>                                       
    </span>
    <span class="eo-shares align-self-center float-right">
      <a href="#" class="btn eo-btn-shares">
        <i class="material-icons">compare_arrows</i>
      </a>
      <span class="eo-shares-counter">0</span>
    </span>                    
    <span class="eo-comments align-self-center float-right mr-3">
      <a href="#" class="btn eo-btn-comments">
        <i class="material-icons">chat</i>
      </a>
      <span class="eo-comments-counter">16</span>
    </span>                                  
  </div>
  <div class="eo-card-controls">
    <ul class="list-unstyled">
      <li class="eo-control-item">
        <a href="#" class="btn eo-btn-control eo-btn-primary">
          <i class="fa fa-heart"></i>
        </a>
      </li>
      <li class="eo-control-item">
        <a href="#" class="btn eo-btn-control eo-btn-primary">
          <i class="material-icons">chat</i>
        </a>
      </li>
      <li class="eo-control-item">
        <a href="#" class="btn eo-btn-control eo-btn-primary">
          <i class="material-icons">compare_arrows</i>
        </a>
      </li>                                                            
    </ul>
  </div>                
</div>

<div class="eo-load-more-posts text-center my-4 my-sm-4 my-md-4 my-lg-4 my-xl-4">
  <button type="button" class="btn eo-btn-load-more">
    <i class="material-icons">more_horiz</i>
  </button> 
</div> 