/* Profile page */
#eo-profile {
background-color: #e9ecef;
}
/* Content */
#eo-profile .eo-content {
padding-top: 5em; 
}
  @media (min-width: 1200px) {
    #eo-profile .eo-content {
    padding-top: 6.5em;
  } 
}  

#eo-profile .eo-content .eo-profile-content {
}
