<div id="eo-profile">

  <div class="eo-content">

    <!-- FIXED SIDEBARS -->
    <app-profile-fixed-sidebar-left></app-profile-fixed-sidebar-left>
    <app-profile-fixed-sidebar-right></app-profile-fixed-sidebar-right>

    <!-- NAVBAR -->
    <app-profile-navbar></app-profile-navbar>

    <div class="container">

      <!-- HEADER -->  
      <app-profile-header></app-profile-header>

      <!-- MAIN CONTENT -->
      <main class="eo-profile-content mt-4 mt-sm-4 mt-md-4 mt-lg-4 mt-xl-4">

        <div class="row">

          <!-- Center column-->
          <div class="col-12 col-sm-12 col-md-12 order-lg-1 col-lg-6 order-xl-2 col-xl-6">
            <app-post></app-post>
          </div>

          <!-- Left sidebar-->
          <div class="col-12 col-sm-12 col-md-12 order-lg-2 col-lg-3 order-xl-1 col-xl-3">
            <app-profile-sidebar-left></app-profile-sidebar-left>
          </div>

          <!-- Right sidebar-->
          <div class="col-12 col-sm-12 col-md-12 order-lg-3 col-lg-3 order-xl-3 col-xl-3">
            <app-profile-sidebar-right></app-profile-sidebar-right>
          </div>

        </div>  

      </main> 

    </div>

  </div>

</div>  