/* Navigation */
.eo-login-navigation {
z-index: 1;
padding-top: 1em;
}
@media only screen and (min-device-width: 576px) {
.eo-login-navigation {
padding-top: 1.5em; } }
@media only screen and (min-device-width: 1200px) {
.eo-login-navigation {
padding-top: 1.5em; } }

/* Logo */
.eo-login-navigation .eo-logo .eo-logo-text {
color: #fff;
font-family: "Roboto", sans-serif;
font-size: 0.85rem;
line-height: 1.5;
font-weight: 700;
text-transform: uppercase; }
@media (min-width: 576px) {
.eo-login-navigation .eo-logo .eo-logo-text {
font-size: 1.25rem; } }
@media (min-width: 768px) {
.eo-login-navigation .eo-logo .eo-logo-text {
font-size: 1rem; } }
@media (min-width: 992px) {
.eo-login-navigation .eo-logo .eo-logo-text {
font-size: 1rem; } }
@media (min-width: 1200px) {
.eo-login-navigation .eo-logo .eo-logo-text {
font-size: 1rem; } }

/* Menu */
.eo-login-navigation .eo-menu .btn {
padding: 0.25em .75rem; }
.eo-login-navigation .eo-menu .btn i {
color: #fff; }