<div class="eo-login-navigation">
  <div class="container d-flex justify-content-between">
    <div class="eo-logo"> 
      <a class="d-flex flex-row justify-content-start align-items-center" routerLink="/">
        <img class="eo-logo-img pr-1 pr-sm-1 pr-md-2 pr-lg-2 pr-xl-2" src="assets/img/olympus-logo.png" alt="Olympus logo">
        <div class="eo-logo-text d-flex flex-column">
          {{title}}
        </div>
      </a>
    </div>  
    <div class="eo-menu">
      <button type="button" class="btn btn-link">
        <i class="material-icons">menu</i>
      </button>  
    </div>
  </div>        
</div>