/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

/* HTML & BODY */

/* HTML */
html {
  position: relative;
  min-height: 100%;
  width: 100%;  
}
  @media only screen and (min-device-width: 576px) {

  }
  @media only screen and (min-device-width: 768px) {

  }
  @media only screen and (min-device-width: 1200px) {
    html {
    height: 100%;   
    }
  }

/* BODY */
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  margin: 0;
  width: 100%;
  height: 100%; 
}

/* HEADLINES */
h1, h2, h3, h4 {
  margin: 0; }

h1 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 300;
  text-transform: none; }
  @media only screen and (min-device-width: 576px) {
    h1 {
      font-size: 1.75rem; } }
  @media only screen and (min-device-width: 768px) {
    h1 {
      font-size: 2rem; } }
  @media only screen and (min-device-width: 1200px) {
    h1 {
      font-size: 2.75rem; } }

h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 600;
  text-transform: none; }
  @media (min-width: 576px) {
    h2 {
      font-size: 1.5rem; } }
  @media (min-width: 768px) {
    h2 {
      font-size: 1.75rem; } }
  @media (min-width: 992px) {
    h2 {
      font-size: 1.75rem; } }
  @media (min-width: 1200px) {
    h2 {
      font-size: 1.75rem; } }

h3 {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 600;
  text-transform: none; }
  @media (min-width: 576px) {
    h3 {
      font-size: 1.25rem; } }
  @media (min-width: 768px) {
    h3 {
      font-size: 1.5rem; } }
  @media (min-width: 992px) {
    h3 {
      font-size: 1.5rem; } }
  @media (min-width: 1200px) {
    h3 {
      font-size: 1.5rem; } }

h4 {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 0.85rem;
  line-height: 1.2;
  font-weight: 600;
  text-transform: none; }
  @media (min-width: 576px) {
    h4 {
      font-size: 1rem; } }
  @media (min-width: 768px) {
    h4 {
      font-size: 0.85rem; } }
  @media (min-width: 992px) {
    h4 {
      font-size: 0.85rem; } }
  @media (min-width: 1200px) {
    h4 {
      font-size: 0.85rem; } }

/* PARAGRAPHS */
p {
  color: #868e96;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  line-height: 1.3;
  font-weight: 400;
  text-transform: none; }
  @media (min-width: 576px) {
    p {
      font-size: 0.9rem; } }
  @media (min-width: 768px) {
    p {
      font-size: 1rem; } }
  @media (min-width: 992px) {
    p {
      font-size: 1rem; } }
  @media (min-width: 1200px) {
    p {
      font-size: 1rem; } }

/* SMALL */
.small, small {
  font-size: 90%; }

/* LISTS */
ul {
  margin: 0;
  padding: 0; }

/* LINKS */
a {
  outline: 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  a:hover {
    text-decoration: none;
    color: #ff5e3a; }
  a:focus, a:active {
    text-decoration: none;
    outline: 0; }

/* BUTTONS */
.btn {
  letter-spacing: 1px;
  line-height: 1;
  -webkit-transition: all 0.35s linear;
  -moz-transition: all 0.35s linear;
  -o-transition: all 0.35s linear;
  transition: all 0.35s linear; }
  .btn:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .btn:focus:active {
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none; }

.btn-eo-fb {
  font-family: "Roboto", sans-serif;
  font-size: 0.85em;
  line-height: 1;
  font-weight: 500;
  text-align: center;
  text-transform: none;
  padding: 0.85em 1em;
  border-radius: 0.25em;
  color: #fff !important;
  background-color: #2f5b9d;
  border: 0px solid transparent;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  .btn-eo-fb:hover {
    color: #fff !important;
    background-color: #234476;
    border-color: transparent; }
  .btn-eo-fb:focus {
    /*text-shadow: 1px 0px 1px $gray-200;  */
    color: #fff !important;
    background-color: #3362a9;
    border-color: transparent; }
  .btn-eo-fb:active {
    /*text-shadow: 1px 0px 1px $gray-200;*/
    color: #fff !important;
    background-color: #3362a9;
    border-color: transparent; }
  .btn-eo-fb:hover, .btn-eo-fb:focus, .btn-eo-fb:active {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn-eo-fb:focus:active {
    outline: 0; }
  @media (min-width: 576px) {
    .btn-eo-fb {
      font-size: 0.85em;
      padding: 0.85em 1em; } }
  @media (min-width: 768px) {
    .btn-eo-fb {
      font-size: 0.85em;
      padding: 0.85em 1em; } }
  @media (min-width: 992px) {
    .btn-eo-fb {
      font-size: 0.85em;
      padding: 0.85em 1em; } }
  @media (min-width: 1200px) {
    .btn-eo-fb {
      font-size: 0.85em;
      padding: 0.85em 1em; } }

.btn-eo-tw {
  font-family: "Roboto", sans-serif;
  font-size: 0.85em;
  line-height: 1;
  font-weight: 500;
  text-align: center;
  text-transform: none;
  padding: 0.85em 1em;
  border-radius: 0.25em;
  color: #fff !important;
  background-color: #38bff1;
  border: 0px solid transparent;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  .btn-eo-tw:hover {
    color: #fff !important;
    background-color: #10ace6;
    border-color: transparent; }
  .btn-eo-tw:focus {
    /*text-shadow: 1px 0px 1px $gray-200;  */
    color: #fff !important;
    background-color: #46c4f2;
    border-color: transparent; }
  .btn-eo-tw:active {
    /*text-shadow: 1px 0px 1px $gray-200;*/
    color: #fff !important;
    background-color: #46c4f2;
    border-color: transparent; }
  .btn-eo-tw:hover, .btn-eo-tw:focus, .btn-eo-tw:active {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn-eo-tw:focus:active {
    outline: 0; }
  @media (min-width: 576px) {
    .btn-eo-tw {
      font-size: 0.85em;
      padding: 0.85em 1em; } }
  @media (min-width: 768px) {
    .btn-eo-tw {
      font-size: 0.85em;
      padding: 0.85em 1em; } }
  @media (min-width: 992px) {
    .btn-eo-tw {
      font-size: 0.85em;
      padding: 0.85em 1em; } }
  @media (min-width: 1200px) {
    .btn-eo-tw {
      font-size: 0.85em;
      padding: 0.85em 1em; } }

.btn-eo-dr {
  font-family: "Roboto", sans-serif;
  font-size: 0.85em;
  line-height: 1;
  font-weight: 500;
  text-align: center;
  text-transform: none;
  padding: 0.85em 1em;
  border-radius: 0.25em;
  color: #fff !important;
  background-color: #f74881;
  border: 0px solid transparent;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  .btn-eo-dr:hover {
    color: #fff !important;
    background-color: #f5175f;
    border-color: transparent; }
  .btn-eo-dr:focus {
    /*text-shadow: 1px 0px 1px $gray-200;  */
    color: #fff !important;
    background-color: #f8578b;
    border-color: transparent; }
  .btn-eo-dr:active {
    /*text-shadow: 1px 0px 1px $gray-200;*/
    color: #fff !important;
    background-color: #f8578b;
    border-color: transparent; }
  .btn-eo-dr:hover, .btn-eo-dr:focus, .btn-eo-dr:active {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn-eo-dr:focus:active {
    outline: 0; }
  @media (min-width: 576px) {
    .btn-eo-dr {
      font-size: 0.85em;
      padding: 0.85em 1em; } }
  @media (min-width: 768px) {
    .btn-eo-dr {
      font-size: 0.85em;
      padding: 0.85em 1em; } }
  @media (min-width: 992px) {
    .btn-eo-dr {
      font-size: 0.85em;
      padding: 0.85em 1em; } }
  @media (min-width: 1200px) {
    .btn-eo-dr {
      font-size: 0.85em;
      padding: 0.85em 1em; } } 

/* LOGIN / REGISTER SWITCH */
ngb-tabset {
display: flex;
flex-direction: row;  
}

.eo-login-register-switch .nav-pills {
display: flex;
flex-direction: column; 
}
.eo-login-register-switch {
    width: 100%;  
}
.eo-login-register-switch .nav.nav-pills {
border-right: 1px solid #e9ecef;  
}
.eo-login-register-switch .nav.nav-pills .nav-item + .nav-item {
border-top: 1px solid #e9ecef;
}
.eo-login-register-switch .nav.nav-pills .nav-item {
height: 50%;
display: flex; 
text-align: center;
}
.eo-login-register-switch .nav.nav-pills .nav-item .nav-link {
color: #ced4da !important; 
-ms-grid-row-align: center !important;
align-self: center !important;
}
.eo-login-register-switch .nav.nav-pills .nav-item .nav-link.active {
color: #ff5e3a !important;
background-color: #fff !important;
}  
.eo-login-register-switch .nav.nav-pills .nav-item .nav-link i {
vertical-align: middle;    
}

.eo-login-register-switch .tab-content {
width: 100%;
}


/* DROPDOWN */
.eo-navbar .navbar-collapse .eo-navbar-user .dropdown-menu .dropdown-item:hover {
color: #ff5e3a;
background-color: #fff
}
.eo-navbar .navbar-collapse .eo-navbar-user .dropdown-menu .dropdown-item:focus,
.eo-navbar .navbar-collapse .eo-navbar-user .dropdown-menu .dropdown-item:active {
color:#fff;
background-color: #ff5e3a;
}