/* Main */

main.eo-login-register-main {
z-index: 1;
margin-top: 2em;
margin-bottom: 2em; }
@media only screen and (min-device-width: 576px) {
main.eo-login-register-main {
margin-top: 3em;
margin-bottom: 2.5em; } }
@media only screen and (min-device-width: 768px) {
main.eo-login-register-main {
margin-top: 4em;
margin-bottom: 3.5em; } }
@media only screen and (min-device-width: 1200px) {
main.eo-login-register-main {
margin-top: 2.5em;
margin-bottom: 0; } }
@media only screen and (min-device-width: 1920px) {
main.eo-login-register-main {
margin-top: 2.5em;
margin-bottom: 2.5em; } }
main.eo-login-register-main .eo-login-text p {
color: #fff; }
main.eo-login-register-main .eo-login-text .btn-eo-outline-w {
font-family: "Roboto", sans-serif;
font-size: 0.85em;
line-height: 1;
font-weight: 500;
text-align: center;
text-transform: none;
padding: 0.5em 1.5em;
border-radius: 0.25em;
color: #fff;
background-color: transparent;
border: 2px solid #fff;
-webkit-transition: all 0.3s linear;
-moz-transition: all 0.3s linear;
-o-transition: all 0.3s linear;
transition: all 0.3s linear; }
main.eo-login-register-main .eo-login-text .btn-eo-outline-w:hover {
color: #fff;
background-color: #ff5e3a;
border-color: #fff; }
main.eo-login-register-main .eo-login-text .btn-eo-outline-w:focus {
/*text-shadow: 1px 0px 1px $gray-200;  */
color: #fff;
background-color: #ff5e3a;
border-color: #fff; }
main.eo-login-register-main .eo-login-text .btn-eo-outline-w:active {
/*text-shadow: 1px 0px 1px $gray-200;*/
color: #fff;
background-color: #ff5e3a;
border-color: #fff; }
main.eo-login-register-main .eo-login-text .btn-eo-outline-w:hover, main.eo-login-register-main .eo-login-text .btn-eo-outline-w:focus, main.eo-login-register-main .eo-login-text .btn-eo-outline-w:active {
outline: 0;
-webkit-box-shadow: none;
box-shadow: none; }
main.eo-login-register-main .eo-login-text .btn-eo-outline-w:focus:active {
outline: 0; }
@media (min-width: 576px) {
main.eo-login-register-main .eo-login-text .btn-eo-outline-w {
font-size: 1em;
padding: 0.55em 2.5em; } }
@media (min-width: 768px) {
main.eo-login-register-main .eo-login-text .btn-eo-outline-w {
font-size: 1em;
padding: 0.55em 2.5em; } }
@media (min-width: 992px) {
main.eo-login-register-main .eo-login-text .btn-eo-outline-w {
font-size: 1em;
padding: 0.7em 2.5em; } }
@media (min-width: 1200px) {
main.eo-login-register-main .eo-login-text .btn-eo-outline-w {
font-size: 1em;
padding: 1em 3.5em; } }
main.eo-login-register-main .eo-card-login .card {
border: none;
border-radius: 0 0.25rem 0.25rem 0; }
main.eo-login-register-main .eo-card-login .card .card-body {
padding: 0; }