<main class="eo-login-register-main d-flex flex-column justify-content-center align-items-center">

  <div class="container">

    <div class="row justify-content-center">

      <div class="eo-login-text col-12 col-sm-12 col-md-9 col-lg-6 col-xl-6 d-flex flex-column justify-content-center align-items-left">
        <h1 class="mb-3 mb-sm-4 mb-md-4 mb-lg-4 mb-xl-4">Welcome to the Biggest Social Network in the World</h1>
        <p class="mb-0">We are the best and biggest social network with 5 billion active users all around the world. Share you
          thoughts, write blog posts, show your favourite music via Stopify, earn badges and much more!
        </p>
        <div class="eo-btn-wrapper mt-4 mt-sm-5 mt-md-5 mt-lg-5 mt-xl-5">
          <a href="#" role="button" class="btn btn-eo-outline-w">Register Now!</a>
        </div>
      </div>

      <div class="eo-card-login col-12 col-sm-12 col-md-10 col-lg-5 col-xl-5 mt-4 mt-sm-5 mt-md-5 mt-lg-0 mt-xl-0">
        <div class="card">
          <div class="card-body d-flex flex-row">

            <div class="eo-login-register-switch">
              <app-ngbd-tabset-orientation></app-ngbd-tabset-orientation>
            </div>  

          </div>
        </div>
      </div>                    

    </div>

  </div>  
  
</main> 