<div id="eo-login-page" class="eo-bg-wrapper">

  <div class="eo-content">
  
    <!-- Login Navbar -->
    <app-login-navbar></app-login-navbar>

    <!-- Login Main -->
    <app-login-main></app-login-main>

  </div>  


</div>  