/* Landing page*/
#eo-login-page.eo-bg-wrapper {
background-image: linear-gradient(rgba(255, 94, 48, 0.8), rgba(255, 94, 48, 0.8)), url(../../assets/img/landing-bg.png);
background-repeat: repeat;
background-position: center center;
-webkit-background-size: unset;
-moz-background-size: unset;
-ms-background-size: unset;
-o-background-size: unset;
background-size: unset;

width: 100%;
height: 100%;
}

/* Content */
#eo-login-page.eo-bg-wrapper .eo-content {
position: relative;
z-index: 1;
}