<ngb-tabset type="pills" [orientation]="currentOrientation">
  <ngb-tab>
    <ng-template ngbTabTitle>
      <i class="material-icons">power_settings_new</i>
    </ng-template>
    <ng-template ngbTabContent>
      <div class="eo-login-header">
        Login to your Account
      </div>
      <div class="eo-login-content p-4 p-sm-4 p-md-4 p-lg-4 p-xl-4">
        <form>
          <div class="eo-login-form-group form-group bmd-form-group">
            <div class="form-row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">                          
                <label class="eo-login-label bmd-label-static" for="eo-email-login">Your Email</label>
                <input type="email" class="form-control" id="eo-email-login" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
            </div>    
          </div>
          <div class="eo-register-form-group form-group bmd-form-group">
            <div class="form-row">
              <div class="co-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">                          
                <label class="eo-register-label bmd-label-static" for="eo-password-login">Your Password</label>
                <input type="password" class="form-control" id="eo-password-login" placeholder="Password">
              </div>
            </div>    
          </div>
          <div class="form-row my-3 my-sm-3 my-md-3 my-lg-3 my-xl-3">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
              <div class="eo-checkbox custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="eo-remember-me">
                <label class="custom-control-label small" for="eo-remember-me">Remember Me</label>
              </div>
            </div>
            <div class="eo-forgot-pass col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
              <a class="small" href="#">Forgot my Password</a>
            </div>                            
          </div>                              
          <a routerLink="/profile" role="button" class="btn btn-lg btn-eo-login btn-block">Login</a>
          <div class="eo-divider-or my-4 my-sm-4 my-md-4 my-lg-4 my-xl-4"></div>
          <a routerLink="/profile" role="button" class="btn btn-eo-fb btn-block mb-3 mb-sm-3 mb-md-3 mb-lg-3 mb-xl-3">
            <i class="fa fa-facebook pr-1 pr-sm-1 pr-md-2 pr-lg-2 pr-xl-2"></i>
            Login with Facebook
          </a>
          <a routerLink="/profile" role="button" class="btn btn-eo-tw btn-block mb-4 mb-sm-4 mb-md-4 mb-lg-4 mb-xl-4">
            <i class="fa fa-twitter pr-1 pr-sm-1 pr-md-2 pr-lg-2 pr-xl-2"></i>
            Login with Twitter
          </a>
        </form>
        <p class="mb-0 small">Don’t you have an account? <a href="#">Register Now!</a> it’s really simple and you can start enjoing all the benefits!</p>
      </div> 
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>
      <i class="material-icons">control_point</i>
    </ng-template>
    <ng-template ngbTabContent>
      <div class="eo-register-header">
        Create an Account on Olympus
      </div>
      <div class="eo-register-content p-4 p-sm-4 p-md-4 p-lg-4 p-xl-4">
        <form>
          <div class="eo-register-form-group form-group bmd-form-group">
            <div class="form-row">
              <div class="co-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">                          
                <label class="eo-register-label bmd-label-static" for="eo-first-name">Your First Name</label>
                <input type="text" class="form-control" id="eo-first-name" placeholder="Enter first name">
              </div>
            </div>    
          </div>
          <div class="eo-register-form-group form-group bmd-form-group">
            <div class="form-row">
              <div class="co-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">                          
                <label class="eo-register-label bmd-label-static" for="eo-last-name">Last your Name</label>
                <input type="text" class="form-control" id="eo-last-name" placeholder="Enter last name">
              </div>
            </div>    
          </div>
          <div class="eo-register-form-group form-group bmd-form-group">
            <div class="form-row">
              <div class="co-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">                          
                <label class="eo-register-label bmd-label-static" for="eo-email-reg">Your your Email</label>
                <input type="email" class="form-control" id="eo-email-reg" placeholder="Enter email">
              </div>
            </div>    
          </div>                                                
          <div class="eo-register-form-group form-group bmd-form-group">
            <div class="form-row">
              <div class="co-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">                          
                <label class="eo-register-label bmd-label-static" for="eo-password-register">Your Password</label>
                <input type="password" class="form-control" id="eo-password-register" placeholder="Enter Password">
              </div>
            </div>    
          </div> 
          <div class="eo-register-form-group form-group bmd-form-group">
            <div class="form-row">
              <div class="co-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">                          
                <label class="eo-register-label bmd-label-static" for="eo-password-register-conf">Confirm Your Password</label>
                <input type="password" class="form-control" id="eo-password-register-conf" placeholder="Enter Password again">
              </div>
            </div>    
          </div>                                                      
          <button type="button" class="btn btn-lg btn-eo-register btn-block mb-3 mb-sm-3 mb-md-3 mb-lg-3 mb-xl-3">Register</button>
          <p class="mb-0 small">You already have an account, <a href="profile.html">Login</a></p>
        </form>                      
      </div>  
    </ng-template>
  </ngb-tab>
</ngb-tabset>