
.eo-login-header,
.eo-register-header {
color: #495057;
font-family: "Roboto", sans-serif;
font-size: 0.9em;
line-height: 1;
font-weight: 500;
text-transform: none;
border-bottom: 1px solid #e9ecef;
padding: 1.3em 1.5em; }
.eo-login-content .bmd-form-group,
.eo-register-content .bmd-form-group {
position: relative;
border: 1px solid #ced4da;
border-radius: .25rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
padding: 1.25em 0.5em 0em 0.5em;
-webkit-transition: all 0.3s linear;
-moz-transition: all 0.3s linear;
-o-transition: all 0.3s linear;
transition: all 0.3s linear; }
.eo-login-content .bmd-form-group.eo-login-form-group.eo-active,
.eo-login-content .bmd-form-group.eo-register-form-group.eo-active,
.eo-register-content .bmd-form-group.eo-login-form-group.eo-active,
.eo-register-content .bmd-form-group.eo-register-form-group.eo-active {
border-color: #ff5e3a; }
.eo-login-content .bmd-form-group.eo-login-form-group.eo-active .bmd-label-static, 
.eo-login-content .bmd-form-group.eo-register-form-group.eo-active .bmd-label-static,
.eo-register-content .bmd-form-group.eo-login-form-group.eo-active .bmd-label-static,
.eo-register-content .bmd-form-group.eo-register-form-group.eo-active .bmd-label-static{
color: #ff5e3a; }
.eo-login-content .bmd-label-static,
.eo-register-content .bmd-label-static {
color: #868e96;
top: -0.75rem;
left: 1em;
font-size: .75rem;
line-height: 1;
position: absolute;
pointer-events: none;
transition: all .3s ease; }
.eo-login-content input,
.eo-register-content input {
color: #868e96;
font-family: "Roboto", sans-serif;
font-size: 0.9em;
line-height: 1;
font-weight: 400;
text-transform: none;
height: 1.75em;
text-align: left;
padding: 0.25em 0.5em;
border: 0 solid transparent;
border-radius: 0;
background-color: transparent;
-webkit-box-shadow: none;
box-shadow: none; }
.eo-login-content input:focus,
.eo-register-content input:focus {
-webkit-box-shadow: none;
box-shadow: none;
border: 0 solid transparent;
background-color: transparent; }
.eo-login-content ::-moz-placeholder,
.eo-register-content ::-moz-placeholder {
/* Firefox 19+ */
color: #ced4da;
font-family: "Roboto", sans-serif;
font-size: 0.9em;
line-height: 1;
font-weight: 300;
text-align: left;
text-transform: none; }
.eo-login-content ::-webkit-input-placeholder,
.eo-register-content ::-webkit-input-placeholder {
color: #ced4da;
font-family: "Roboto", sans-serif;
font-size: 0.9em;
line-height: 1;
font-weight: 300;
text-align: left;
text-transform: none; }
.eo-login-content :-moz-placeholder,
.eo-register-content :-moz-placeholder{
/* Firefox 18- */
color: #ced4da;
font-family: "Roboto", sans-serif;
font-size: 0.9em;
line-height: 1;
font-weight: 300;
text-align: left;
text-transform: none; }
.eo-login-content :-ms-input-placeholder,
.eo-register-content :-ms-input-placeholder {
color: #ced4da;
font-family: "Roboto", sans-serif;
font-size: 0.9em;
line-height: 1;
font-weight: 300;
text-align: left;
text-transform: none; }
.eo-login-content .eo-checkbox .custom-control-input:checked ~ .custom-control-label::before,
.eo-register-content .eo-checkbox .custom-control-input:checked ~ .custom-control-label::before {
color: #fff;
background-color: #ff5e3a; }
.eo-login-content .eo-checkbox label,
.eo-register-content .eo-checkbox label  {
color: #868e96;
font-family: "Roboto", sans-serif;
font-size: 0.85em;
line-height: 1;
font-weight: 400;
text-transform: none; }
.eo-login-content .eo-checkbox label:before,
.eo-register-content .eo-checkbox label:before {
top: -0.05em;
}
.eo-login-content .eo-checkbox label:after,
.eo-register-content .eo-checkbox label:after {
top: -0.025rem;
}
.eo-login-content .eo-forgot-pass,
.eo-register-content .eo-forgot-pass,  
.eo-login-content .eo-forgot-pass a,
.eo-register-content .eo-forgot-pass a {
text-align: left; 
}
@media (min-width: 992px) {
  .eo-login-content .eo-forgot-pass a,
  .eo-register-content .eo-forgot-pass a{
  color: #868e96;
  font-family: "Roboto", sans-serif;
  font-size: 0.85em;
  line-height: 1;
  font-weight: 400;
  text-transform: none;
  }  
  .eo-login-content .eo-forgot-pass,
  .eo-register-content .eo-forgot-pass {
  text-align: right;  
  }
}
.eo-login-content .eo-divider-or,
.eo-register-content .eo-divider-or {
position: relative;
width: 100%;
height: 1px;
background-color: #dee2e6; }
.eo-login-content .eo-divider-or:after,
.eo-register-content .eo-divider-or:after {
content: 'or';
display: block;
position: absolute;
left: 50%;
top: 50%;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
background-color: #fff;
padding: 0 1.5em;
color: #343a40;
font-family: "Roboto", sans-serif;
font-size: 0.85em;
line-height: 1;
font-weight: 400;
text-transform: uppercase;
z-index: 5; }
.eo-login-content .btn-eo-login,
.eo-register-content .btn-eo-login {
font-family: "Roboto", sans-serif;
font-size: 0.85em;
line-height: 1;
font-weight: 500;
text-align: center;
text-transform: none;
padding: 0.85em 1em;
border-radius: 0.25em;
color: #fff !important;
background-color: #ff5e3a;
border: 0px solid transparent;
-webkit-transition: all 0.3s linear;
-moz-transition: all 0.3s linear;
-o-transition: all 0.3s linear;
transition: all 0.3s linear; }
.eo-login-content .btn-eo-login:hover,
.eo-register-content .btn-eo-login:hover {
color: #fff !important;
background-color: #ff3407;
border-color: transparent; }
.eo-login-content .btn-eo-login:focus,
.eo-register-content .btn-eo-login:focus {
/*text-shadow: 1px 0px 1px $gray-200;  */
color: #fff !important;
background-color: #ff6b49;
border-color: transparent; }
.eo-login-content .btn-eo-login:active,
.eo-register-content .btn-eo-login:active {
/*text-shadow: 1px 0px 1px $gray-200;*/
color: #fff !important;
background-color: #ff6b49;
border-color: transparent; }
.eo-login-content .btn-eo-login:hover, 
.eo-login-content .btn-eo-login:focus, 
.eo-login-content .btn-eo-login:active,
.eo-register-content .btn-eo-login:hover,
.eo-register-content .btn-eo-login:focus,
.eo-register-content .btn-eo-login:active {
outline: 0;
-webkit-box-shadow: none;
box-shadow: none; }
.eo-login-content .btn-eo-login:focus:active,
.eo-register-content .btn-eo-login:focus:active {
outline: 0; }
@media (min-width: 576px) {
.eo-login-content .btn-eo-login,
.eo-register-content .btn-eo-login, {
font-size: 0.85em;
padding: 0.85em 1em; } }
@media (min-width: 768px) {
.eo-login-content .btn-eo-login,
.eo-register-content .btn-eo-login{
font-size: 0.85em;
padding: 0.85em 1em; } }
@media (min-width: 992px) {
.eo-login-content .btn-eo-login,
.eo-register-content .btn-eo-login {
font-size: 0.85em;
padding: 0.85em 1em; } }
@media (min-width: 1200px) {
.eo-login-content .btn-eo-login,
.eo-register-content .btn-eo-login {
font-size: 0.85em;
padding: 0.85em 1em; } }
.eo-login-content p,
.eo-register-content p {
color: #495057; }
.eo-login-content p a,
.eo-register-content p a {
color: #ff5e3a; }
.eo-login-content .btn-eo-register,
.eo-register-content .btn-eo-register {
font-family: "Roboto", sans-serif;
font-size: 1em;
line-height: 1;
font-weight: 500;
text-align: center;
text-transform: none;
padding: 0.85em 1em;
border-radius: 0.25em;
color: #fff !important;
background-color: #7c5ac2;
border: 0px solid transparent;
-webkit-transition: all 0.3s linear;
-moz-transition: all 0.3s linear;
-o-transition: all 0.3s linear;
transition: all 0.3s linear; }
.eo-login-content .btn-eo-register:hover,
.eo-register-content .btn-eo-register:hover{
color: #fff !important;
background-color: #623faa;
border-color: transparent; }
.eo-login-content .btn-eo-register:focus,
.eo-register-content .btn-eo-register:focus {
/*text-shadow: 1px 0px 1px $gray-200;  */
color: #fff !important;
background-color: #8565c6;
border-color: transparent; }
.eo-login-content .btn-eo-register:active,
.eo-register-content .btn-eo-register:active {
/*text-shadow: 1px 0px 1px $gray-200;*/
color: #fff !important;
background-color: #8565c6;
border-color: transparent; }

.eo-login-content .btn-eo-register:hover,
.eo-login-content .btn-eo-register:focus,
.eo-login-content .btn-eo-register:active,
.eo-register-content .btn-eo-register:hover,
.eo-register-content .btn-eo-register:focus,
.eo-register-content .btn-eo-register:active {
outline: 0;
-webkit-box-shadow: none;
box-shadow: none; }
.eo-login-content .btn-eo-register,
.eo-register-content .btn-eo-register {
outline: 0; }
@media (min-width: 576px) {
.eo-login-content .btn-eo-register,
.eo-register-content .btn-eo-register {
font-size: 1em;
padding: 0.85em 1em; } }
@media (min-width: 768px) {
.eo-login-content .btn-eo-register,
.eo-register-content .btn-eo-register {
font-size: 1em;
padding: 0.85em 1em; } }
@media (min-width: 992px) {
.eo-login-content .btn-eo-register,
.eo-register-content .btn-eo-register {
font-size: 1em;
padding: 0.85em 1em; } }
@media (min-width: 1200px) {
.eo-login-content .btn-eo-register,
.eo-register-content .btn-eo-register {
font-size: 1em;
padding: 0.85em 1em; } }