/* HEADER */

.eo-profile-header .card .card-body {
position: relative;
padding: 13.5em 1.25rem 1em 1.25rem; }
@media (min-width: 576px) {
.eo-profile-header .card .card-body {
padding: 8.5em 1.25rem 1em 1.25rem; } }
@media (min-width: 768px) {
.eo-profile-header .card .card-body {
padding: 6.5em 1.25rem 1em 1.25rem; } }
@media (min-width: 992px) {
.eo-profile-header .card .card-body {
padding: 4.5em 1.25rem 1em 1.25rem; } }
@media (min-width: 1200px) {
.eo-profile-header .card .card-body {
padding: 2.5em 1.25rem; } }
.eo-profile-header .card .card-body .eo-profile-menu .eo-profile-nav ul li a {
color: #adb5bd;
font-family: "Roboto", sans-serif;
font-size: 0.85rem;
line-height: 1;
font-weight: 500;
text-transform: none; }
.eo-profile-header .card .card-body .eo-profile-menu .eo-profile-nav ul li a:hover {
color: #000; }
.eo-profile-header .card .card-body .eo-profile-menu .eo-profile-nav ul li .btn {
padding-top: 0;
padding-bottom: 0;
color: #adb5bd;
font-family: "Roboto", sans-serif;
font-size: 0.85rem;
line-height: 1;
font-weight: 500;
text-transform: none; }
.eo-profile-header .card .card-body .eo-profile-menu .eo-profile-nav ul li .btn:hover {
color: #000; }
.eo-profile-header .card .card-body .eo-control-buttons {
position: absolute;
right: 1em;
top: -1.5em; }
.eo-profile-header .card .card-body .eo-control-buttons .eo-btn-control {
color: #fff;
padding: 0.5em;
width: 2.75em;
height: 2.75em;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%; }
.eo-profile-header .card .card-body .eo-control-buttons .eo-btn-control.eo-btn-primary {
background-color: #ff5e3a; }
.eo-profile-header .card .card-body .eo-control-buttons .eo-btn-control.eo-btn-secondary {
background-color: #38a9ff; }
.eo-profile-header .card .card-body .eo-control-buttons .eo-btn-control.eo-btn-tertiary {
background-color: #7c5ac2; }
.eo-profile-header .card .card-body .eo-profile-data {
position: absolute;
left: 50%;
bottom: 5em;
text-align: center;
margin-left: -4.85em;
z-index: 10; }
@media (min-width: 576px) {
.eo-profile-header .card .card-body .eo-profile-data {
bottom: 6em; } }
@media (min-width: 768px) {
.eo-profile-header .card .card-body .eo-profile-data {
bottom: 3.5em; } }
@media (min-width: 992px) {
.eo-profile-header .card .card-body .eo-profile-data {
bottom: 1.5em; } }
@media (min-width: 1200px) {
.eo-profile-header .card .card-body .eo-profile-data {
bottom: 1em; } }
.eo-profile-header .card .card-body .eo-profile-data .eo-profile-img img {
width: 7em;
border: 0.5em solid white; }
@media (min-width: 1200px) {
.eo-profile-header .card .card-body .eo-profile-data .eo-profile-img img {
width: 10em; } }
.eo-profile-header .card .card-body .eo-profile-data .eo-profile-content .eo-profile-name {
color: #343a40;
font-family: "Roboto", sans-serif;
font-size: 1.5rem;
line-height: 1;
font-weight: 700;
text-transform: none; }
.eo-profile-header .card .card-body .eo-profile-data .eo-profile-content .eo-profile-country {
color: #868e96;
font-family: "Roboto", sans-serif;
font-size: 0.85rem;
line-height: 1;
font-weight: 400;
text-transform: none; }