<header class="eo-profile-header">
  <div class="card">
    <img class="card-img-top eo-profile-cover" src="assets/img/users/james-spiegel-cover.jpg" alt="Profile cover image">
    <div class="card-body">
      <!-- Profile menu -->
      <div class="eo-profile-menu">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
            <nav class="eo-profile-nav">
              <ul class="list-inline list-unstyled d-flex justify-content-around">
                <li class="list-inline-item">
                  <a href="#" class="active">Timeline</a>
                </li>
                <li class="list-inline-item">
                  <a href="#">About</a>
                </li>
                <li class="list-inline-item">
                  <a href="#">Friends</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="offset-0 col-12 offset-sm-0 col-sm-12 offset-md-2 col-md-5 offset-lg-2 col-lg-5 offset-xl-2 col-xl-5">
            <nav class="eo-profile-nav">
              <ul class="list-inline list-unstyled d-flex justify-content-around">
                <li class="list-inline-item">
                  <a href="#">Photos</a>
                </li>
                <li class="list-inline-item">
                  <a href="#">Videos</a>
                </li>
                <li class="list-inline-item">
                  <button type="button" class="btn btn-link">
                    <i class="material-icons">more_horiz</i>
                  </button>                        
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <!-- Control buttons -->
      <div class="eo-control-buttons">
        <ul class="list-inline list-unstyled">
          <li class="list-inline-item">
            <a href="#" class="btn eo-btn-control eo-btn-secondary">
              <i class="material-icons">tag_faces</i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="btn eo-btn-control eo-btn-tertiary">
              <i class="material-icons">chat</i>
            </a>
          </li>  
          <li class="list-inline-item">
            <a href="#" class="btn eo-btn-control eo-btn-primary">
              <i class="material-icons">more_horiz</i>
            </a>
          </li>                              
        </ul>
      </div>
      <!-- Profile data -->              
      <div class="eo-profile-data">
        <a class="eo-profile-img" href="profile.html">
          <img class="rounded-circle img-fluid" src="assets/img/users/james-spiegel.jpg" alt="Profile image">
        </a>
        <div class="eo-profile-content mt-2 mt-sm-2 mt-md-2 mt-lg-2 mt-xl-2">
          <a class="eo-profile-name" href="profile.html">James Spiegel</a>
          <div class="eo-profile-country mt-2 mt-sm-2 mt-md-2 mt-lg-2 mt-xl-2">San Francisco, CA</div>
        </div>                
      </div>  
    </div>
  </div>
</header>