<div class="eo-fixed-sidebar-right">
  <div class="eo-fixed-sidebar-img-list">
    <ul class="list-unstyled d-flex flex-column justify-content-center align-items-center">
      <li *ngFor="let user of users">
        <a href="#" class="eo-fixed-sidebar-img" *ngIf="user.id >1">
          <img class="img-fluid rounded-circle" src="{{user.imageThumbUrl}}">
          <span class="badge eo-badge {{user.status}}">
            <i class="fa fa-circle" aria-hidden="true"></i>
          </span>
        </a>
      </li>                                 
    </ul>
  </div>           
</div>  