.eo-fixed-sidebar-right {
display: none; }
@media (min-width: 1200px) {
.eo-fixed-sidebar-right {
position: fixed;
width: 72px;
top: 72px;
z-index: 999;
right: 0;
min-height: 100%;
background-color: #fff; } }
@media (min-width: 1336px) {
.eo-fixed-sidebar-right {
display: block; } }
.eo-fixed-sidebar-right .eo-fixed-sidebar-img-list .eo-fixed-sidebar-img {
position: relative; }
.eo-fixed-sidebar-right .eo-fixed-sidebar-img-list .eo-fixed-sidebar-img img {
padding: 0.5em; }
.eo-fixed-sidebar-right .eo-fixed-sidebar-img-list .eo-fixed-sidebar-img .eo-badge {
position: absolute;
top: -0.75em;
left: 0; }
.eo-fixed-sidebar-right .eo-fixed-sidebar-img-list .eo-fixed-sidebar-img .eo-badge.eo-badge-online i {
color: #08ddc1; }
.eo-fixed-sidebar-right .eo-fixed-sidebar-img-list .eo-fixed-sidebar-img .eo-badge.eo-badge-offline i {
color: #ff5e3a; }
.eo-fixed-sidebar-right .eo-fixed-sidebar-img-list .eo-fixed-sidebar-img .eo-badge.eo-badge-away i {
color: #ffc923; }