/* NAVBAR */
#eo-profile .eo-content .eo-navbar .navbar-brand {
color: #fff;
font-family: "Roboto", sans-serif;
font-size: 0.85rem;
line-height: 1;
font-weight: 500;
text-transform: uppercase; 
}

/* NAVBAR */
@media (min-width: 1200px) {
.eo-navbar {
padding: 0em 5.5em; } }

@media (min-width: 1200px) {
.eo-navbar .navbar-brand {
margin-left: 1em;
margin-right: 3.75em; } }

.eo-navbar .navbar-collapse {
margin-top: 1em; }
@media (min-width: 992px) {
.eo-navbar .navbar-collapse {
margin-top: 0; } }
.eo-navbar .navbar-collapse .eo-search .eo-input-wrapper {
position: relative;
width: 100%; }
@media (min-width: 992px) {
.eo-navbar .navbar-collapse .eo-search .eo-input-wrapper {
width: auto; } }
@media (min-width: 1200px) {
.eo-navbar .navbar-collapse .eo-search .eo-input-wrapper {
width: auto;
position: relative; } }
@media (min-width: 320px) {
.eo-navbar .navbar-collapse .eo-search .eo-input-wrapper:after {
position: absolute;
font-family: 'FontAwesome';
font-size: 0.75em;
top: 0.75em;
right: 1.25em;
content: "\f002";
color: #868e96; } }
@media (min-width: 1200px) {
.eo-navbar .navbar-collapse .eo-search .eo-input-wrapper:after {
font-size: 1em;
top: 1.5em;
right: 1.5em; } }
.eo-navbar .navbar-collapse .eo-search .eo-input-wrapper input {
padding: 0.75em 1.5em 0.75em 0.75em;
-webkit-border-radius: 0;
-moz-border-radius: 0;
-ms-border-radius: 0;
-o-border-radius: 0;
border-radius: 0;
box-shadow: none;
background-color: #495057;
border: none;
color: #dee2e6;
font-family: "Roboto", sans-serif;
font-size: 0.9rem;
line-height: 1;
font-weight: 400;
text-transform: none;
width: 100%; }
@media (min-width: 1200px) {
.eo-navbar .navbar-collapse .eo-search .eo-input-wrapper input {
padding: 27.5px 5rem 27.5px 3rem;
-webkit-border-radius: 0;
-moz-border-radius: 0;
-ms-border-radius: 0;
-o-border-radius: 0;
border-radius: 0;
box-shadow: none;
background-color: #495057;
border: none;
color: #dee2e6;
font-family: "Roboto", sans-serif;
font-size: 0.9rem;
line-height: 1;
font-weight: 400;
text-transform: none;
width: 25em; } }
@media (min-width: 1336px) {
.eo-navbar .navbar-collapse .eo-search .eo-input-wrapper input {
width: 30em; } }
.eo-navbar .navbar-collapse .eo-search .eo-btn-search {
color: #fff;
font-family: "Roboto", sans-serif;
font-size: 0.75rem;
line-height: 1;
font-weight: 400;
text-transform: none;
background-color: transparent; }
.eo-navbar .navbar-collapse .eo-search .eo-btn-search:hover {
color: #ff5e3a;
background-color: transparent; }
@media (min-width: 1200px) {
.eo-navbar .navbar-collapse .eo-search .eo-btn-search {
color: #fff;
font-family: "Roboto", sans-serif;
font-size: 0.75rem;
line-height: 1;
font-weight: 400;
text-transform: none; } }
.eo-navbar .navbar-collapse .eo-navbar-nav-icons {
display: inline-block; }
.eo-navbar .navbar-collapse .eo-navbar-nav-icons li {
display: inline-block; }
@media (min-width: 1200px) {
.eo-navbar .navbar-collapse .eo-navbar-nav-icons li a {
position: relative; } }
@media (min-width: 1200px) {
.eo-navbar .navbar-collapse .eo-navbar-nav-icons li a i {
font-size: 1.5em;
color: #fff;
vertical-align: middle; } }
@media (min-width: 1200px) {
.eo-navbar .navbar-collapse .eo-navbar-nav-icons li a .eo-badge {
position: absolute;
top: 0;
right: 0;
color: #fff;
font-family: "Roboto", sans-serif;
font-size: 0.65rem;
line-height: 1;
font-weight: 400;
text-transform: none;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%; } }
.eo-navbar .navbar-collapse .eo-navbar-nav-icons li a .eo-badge.eo-badge-primary {
background-color: #ff5e3a; }
.eo-navbar .navbar-collapse .eo-navbar-nav-icons li a .eo-badge.eo-badge-secondary {
background-color: #38a9ff; }
.eo-navbar .navbar-collapse .eo-navbar-nav-icons li a .eo-badge.eo-badge-tertiary {
background-color: #7c5ac2; }
.eo-navbar .navbar-collapse .eo-navbar-user .media::after {
display: inline-block;
width: 0;
height: 0;
margin-left: 0.75em;
margin-top: 1em;
vertical-align: .255em;
content: "";
border-top: .3em solid;
border-right: .3em solid transparent;
border-bottom: 0;
border-left: .3em solid transparent; }
@media (min-width: 1200px) {
.eo-navbar .navbar-collapse .eo-navbar-user .media::after {
display: inline-block;
width: 0;
height: 0;
margin-left: 0.75em;
margin-top: 1em;
vertical-align: .255em;
content: "";
border-top: .3em solid;
border-right: .3em solid transparent;
border-bottom: 0;
border-left: .3em solid transparent; } }



.eo-navbar .navbar-collapse .eo-navbar-user .dropdown-toggle::after {
display: none; }
@media (min-width: 1200px) {
.eo-navbar .navbar-collapse .eo-navbar-user .dropdown-toggle::after {
display: none; } }
.eo-navbar .navbar-collapse .eo-navbar-user .eo-navbar-user-name {
color: #fff;
font-family: "Roboto", sans-serif;
font-size: 0.8rem;
line-height: 1;
font-weight: 500;
text-transform: none; }
@media (min-width: 1200px) {
.eo-navbar .navbar-collapse .eo-navbar-user .eo-navbar-user-name {
color: #fff;
font-family: "Roboto", sans-serif;
font-size: 0.8rem;
line-height: 1;
font-weight: 500;
text-transform: none; } }
.eo-navbar .navbar-collapse .eo-navbar-user .eo-navbar-user-nick {
color: #fff;
font-family: "Roboto", sans-serif;
font-size: 0.6rem;
line-height: 1;
font-weight: 400;
text-transform: uppercase; }
@media (min-width: 1200px) {
.eo-navbar .navbar-collapse .eo-navbar-user .eo-navbar-user-nick {
color: #fff;
font-family: "Roboto", sans-serif;
font-size: 0.6rem;
line-height: 1;
font-weight: 400;
text-transform: uppercase; } }