<nav class="eo-navbar navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="eo-search form-inline my-2 my-lg-0 mr-auto">
      <div class="eo-input-wrapper">
        <input class="form-control mr-sm-2" type="search" placeholder="Search here people or pages..." aria-label="Search">
      </div>  
      <button class="btn eo-btn-search my-2 my-sm-0" type="submit">Find Friends</button>
    </form>        
    <ul class="eo-navbar-nav-icons navbar-nav mr-auto">
      <li class="nav-item active mr-5 mr-sm-5 mr-md-5 mr-lg-2 mr-xl-2">
        <a class="nav-link align-self-center" href="#">
          <i class="material-icons">sentiment_satisfied_alt</i>
          <span class="badge eo-badge eo-badge-secondary">6</span>
        </a>
      </li>
      <li class="nav-item mr-5 mr-sm-5 mr-md-5 mr-lg-1 mr-xl-1">
        <a class="nav-link align-self-center" href="#">
          <i class="material-icons">chat</i>
          <span class="badge eo-badge eo-badge-tertiary">2</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link align-self-center" href="#">
          <i class="material-icons">trending_up</i>
          <span class="badge eo-badge eo-badge-primary">8</span>
        </a>
      </li>
    </ul>
    <ul class="eo-navbar-user navbar-nav mt-2 mt-sm-2 mt-md-2 mt-lg-0 mt-xl-0">
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>
          <div class="media">
            <img class="align-self-center img-fluid rounded-circle mr-2" src="assets/img/users/james-spiegel-thumb.jpg" alt="User thumb image">
            <div class="media-body">
              <div class="eo-navbar-user-name">James Spiegel</div>
              <span class="eo-navbar-user-nick">Space cowboy</span>
            </div>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01" ngbDropdownMenu>
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>